In [3]:
import pandas as pd
import numpy as np
from DB import *

db_connection = connect_db()

In [4]:
df_main = pd.read_csv('../data/main/maindata_수정.csv')
df_main

,번호,생태통로명,주소,도로명,도로번호,차선_수,위도_도,위도_분,위도_초,경도_도,...,생태통로좌표(경도),모니터링기간,수행기관,수행자,모니터링방법,등산객이용빈도,모니터링신뢰도,생태통로효율성,"이용확인종,이용빈도높은종,멸종위기종이용빈도",개선필요사항
0,1495,가계통로,경상남도 산청군 생비량면 가계리 산279-3,일반국도,20호선,왕복4차선,35,21.0,36.680000,128,...,경도 128도 3분 49.5초,2017.07.17. ~ 2017.07.28.,진주국토관리사무소,박상훈,NaN,극히 적음,추가 조사가 있어야 본 생태통로의 효율성 판단이 가능함,판단 불가,NaN,NaN
1,1277,가대리,충청북도 단양군 가곡면 가대리,국도,59호선,왕복2차선,37,2.0,2.700000,128,...,경도 128도 24분 23.8초,2016.01.01. ~ 2016.09.20.,도로관리사업소,박찬일,NaN,NaN,추가 조사가 있어야 본 생태통로의 효율성 판단이 가능함,판단 불가,NaN,NaN
2,1278,가산리,충청북도 단양군 단성면 가산리,국도,59호선,왕복2차선,36,53.0,53.957576,128,...,경도 128도 18분 20.275초,2016.01.01. ~ 2016.09.20.,도로관리사업소,박찬일,NaN,NaN,추가 조사가 있어야 본 생태통로의 효율성 판단이 가능함,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,NaN
3,1279,가산리2,충청북도 단양군 단성면 가산리,국도,59호선,왕복2차선,36,53.0,48.718150,128,...,경도 128도 18분 20.917초,2016.01.01. ~ 2016.09.20.,도로관리사업소,박찬일,NaN,NaN,추가 조사가 있어야 본 생태통로의 효율성 판단이 가능함,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,NaN
4,1090,각리,충청북도 청원군 오창읍 각리,지방도,540호,왕복6차선,36,42.0,48.100000,127,...,경도 127도 25분 19.2초,2016.09.01. ~ 2016.09.30.,충북도로관리사업소,문민규,NaN,매일 다수,추가 조사가 있어야 본 생태통로의 효율성 판단이 가능함,보통(주 35회 야생동물 이용),종명: 개 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: 고양...,#NAME?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,1089,NaN,충청북도 청주시 청원구 오창읍 각리,과학산업2로,구룡리 472도,왕복6차선,36,42.0,46.000000,127,...,경도 127도 25분 14.0초,2016.09.26. ~ 2016.09.30.,청원구청,박태동 외 1인,NaN,NaN,금번 조사는 본 생태통로의 효율성에 대한 판단이 가능한 수준이었음,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,#NAME?
513,1087,NaN,충청북도 청주시 청원구 오창읍 구룡리,오창공원로,구룡리 442도,왕복4차선,36,43.0,2.000000,127,...,경도 127도 25분 4.0초,2016.09.26. ~ 2016.09.30.,청원구,박태동 외 1인,NaN,매일 다수,금번 조사는 본 생태통로의 효율성에 대한 판단이 가능한 수준이었음,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,#NAME?
514,1088,NaN,충청북도 청주시 청원구 오창읍 양청리,오창공원로,양청리 882도(호수공원 주변),왕복4차선,36,42.0,44.000000,127,...,경도 127도 25분 31.0초,2016.09.26. ~ 2016.09.30.,청원구청,박태동 외 1인,NaN,매일 다수,금번 조사는 본 생태통로의 효율성에 대한 판단이 가능한 수준이었음,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,#NAME?
515,1091,NaN,충청북도 청주시 청원구 오창읍 여천리,리도,213호선,왕복2차선,36,46.0,3.000000,127,...,경도 127도 28분 24.0초,2016.09.26. ~ 2016.09.30.,청원구청,박태동 외 1인,NaN,NaN,금번 조사는 본 생태통로의 효율성에 대한 판단이 가능한 수준이었음,판단 불가,종명: 멧돼지 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,#NAME?
516,1072,NaN,충청북도 청주시 청원구 율량동,1순환로,산 128-1도,왕복6차선,36,39.0,10.550000,127,...,경도 127도 30분 46.0초,2016.09.26. ~ 2016.09.30.,청주시,박태동 외 1인,NaN,매일 다수,금번 조사는 본 생태통로의 효율성에 대한 판단이 가능한 수준이었음,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...,#NAME?

In [5]:
df_main = df_main[['번호', '생태통로명', '차선_수', '생태통로타입', '등산객이용빈도', '생태통로효율성', '이용확인종,이용빈도높은종,멸종위기종이용빈도']]
df_main

,번호,생태통로명,차선_수,생태통로타입,등산객이용빈도,생태통로효율성,"이용확인종,이용빈도높은종,멸종위기종이용빈도"
0,1495,가계통로,왕복4차선,육교형,극히 적음,판단 불가,NaN
1,1277,가대리,왕복2차선,터널형,NaN,판단 불가,NaN
2,1278,가산리,왕복2차선,터널형,NaN,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
3,1279,가산리2,왕복2차선,터널형,NaN,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
4,1090,각리,왕복6차선,육교형,매일 다수,보통(주 35회 야생동물 이용),종명: 개 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: 고양...
...,...,...,...,...,...,...,...
512,1089,NaN,왕복6차선,육교형,NaN,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
513,1087,NaN,왕복4차선,육교형,매일 다수,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
514,1088,NaN,왕복4차선,육교형,매일 다수,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
515,1091,NaN,왕복2차선,육교형,NaN,판단 불가,종명: 멧돼지 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...
516,1072,NaN,왕복6차선,육교형,매일 다수,판단 불가,종명: 고라니 이용확인종: 1 이용빈도 순위: 멸종위기종 이용빈도 :\n종명: ...

# 이용확인종 문자열 처리

In [6]:
monitored = df_main['이용확인종,이용빈도높은종,멸종위기종이용빈도'].to_list()
monitored = [x.split('\n') if type(x)==str else None for x in monitored]

for i, m in enumerate(monitored):
    if m is None :
        continue
    else:
        monitored[i] = [x.split('이용확인종')[0].split()[-1] for x in m]

print(monitored)

[None, None, ['고라니', '멧돼지', '파충류'], ['고라니', '멧돼지', '파충류'], ['개', '고양이', '다람쥐'], ['고라니', '너구리', '멧돼지', '다람쥐'], None, ['고라니', '너구리', '멧돼지'], None, None, None, None, None, None, None, None, None, None, ['다람쥐', '고라니'], ['고라니', '청설모'], None, ['개구리', '고라니', '너구리'], None, None, ['다람쥐', '고라니', '멧돼지'], None, None, None, ['고라니'], None, None, None, None, None, None, ['산양', '삵', '담비', '노루', '멧돼지', '너구리', '다람쥐', '고라니', '청설모', '고양이', '오소리', '흰배지빠귀', '조류', '들꿩', '멧비둘기'], ['고라니', '너구리'], None, None, ['삵', '너구리', '고라니'], None, None, None, ['멧돼지', '고라니'], None, None, None, None, None, ['고라니'], ['고라니', '멧돼지'], None, ['개', '고양이'], None, None, None, None, None, ['개', '조류'], None, ['너구리', '다람쥐', '고라니'], ['고라니', '멧돼지'], None, ['고라니', '너구리', '멧돼지'], None, ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '두꺼비', '너구리', '개구리'], ['고라니', '너구리', '멧돼지'], ['고라니', '멧돼지'], ['고라니', '너구리', '고양이'], ['고양이'], None, None, None, None, ['고라니', '너구리', '멧돼지'], ['고라니', '너구리', '멧돼지'], ['고라니', '멧토끼'], ['너구리', '고라니', '멧돼지'], None, None, None, ['고라니', '오소리'], None, ['고라니'], None, None, ['개구리'], ['개구리', '고라니', '담비'], ['다람쥐', '무당개구리', '고라니'], None, ['멧돼지', '고라니'], None, ['고라니', '너구리'], None, None, ['고라니'], None, ['고양이', '고라니'], None, None, None, None, ['고라니', '너구리'], ['고라니', '너구리', '멧토끼'], ['삵', '너구리', '고라니', '멧돼지', '멧토끼'], None, None, ['고라니', '멧돼지'], None, None, ['멧토끼', '너구리'], ['고라니'], None, None, ['고라니'], ['고라니', '멧돼지', '두꺼비'], ['고라니', '다람쥐', '무당개구리'], None, None, ['개', '고양이'], None, None, ['고양이', '개'], ['수달', '삵'], None, None, ['고라니', '너구리', '삵'], None, None, None, None, None, None, ['고라니', '너구리', '멧토끼'], ['고라니', '너구리'], None, None, None, ['고라니', '너구리', '노루', '담비', '멧돼지', '오소리'], ['멧토끼'], None, ['고라니', '두꺼비', '청설모'], None, None, ['고라니', '고양이', '개구리'], ['고라니', '너구리', '멧돼지'], ['고라니', '멧돼지', '고양이'], ['고라니', '너구리', '멧돼지'], ['고라니', '담비', '다람쥐', '고양이', '오소리', '산까치', '멧비둘기'], ['삵'], None, None, None, ['멧돼지', '고라니'], ['고라니', '다람쥐', '두꺼비'], ['다람쥐', '멧돼지', '고라니'], None, None, None, None, None, None, ['고라니', '너구리', '멧돼지'], None, None, None, None, None, None, ['다람쥐', '너구리'], ['다람쥐', '고라니'], ['다람쥐', '고라니'], None, None, None, ['고라니', '산개구리', '청설모'], None, None, None, ['고양이', '너구리'], None, None, None, None, None, ['고라니', '멧돼지'], None, None, None, None, ['고라니', '너구리', '산개구리'], None, None, None, ['고라니', '고양이'], ['고라니'], None, None, None, None, None, None, None, ['고라니'], None, ['고라니', '고양이'], ['다람쥐', '두꺼비', '멧돼지'], ['오소리', '다람쥐', '노루'], None, None, ['개구리'], None, None, None, ['고라니', '너구리'], None, ['고라니'], ['고라니', '멧돼지'], None, ['고라니', '너구리', '뱀', '청설모'], ['고라니', '다람쥐', '뱀', '청설모'], ['고라니', '다람쥐', '뱀', '청설모'], None, None, None, None, ['고라니', '노루'], ['고라니'], None, None, ['고라니', '너구리'], ['고양이', '고라니'], ['고양이', '고라니', '너구리', '족제비', '개'], None, ['수달'], None, ['고라니', '멧돼지'], ['너구리', '삵'], None, None, ['고라니'], None, None, ['고라니', '너구리', '멧돼지'], None, None, ['멧돼지', '고라니', '너구리', '멧토끼'], ['너구리', '고라니'], ['너구리'], None, None, ['고라니', '너구리'], None, None, None, None, ['족제비', '너구리'], None, ['고라니', '멧돼지'], ['고라니', '멧돼지'], None, ['개', '청설모', '고양이'], None, None, None, ['고라니', '너구리'], None, ['고라니', '멧토끼'], ['족제비', '고양이', '개'], None, None, None, ['고라니', '족제비'], ['들개', '청설모', '고양이'], None, None, ['고라니', '다람쥐', '오소리', '삵', '너구리', '멧토끼', '족제비'], None, ['고라니'], None, None, ['고라니'], ['다람쥐', '고라니', '멧돼지'], ['너구리', '삵', '고라니'], ['고라니', '너구리', '오소리'], None, None, None, None, None, ['고라니', '너구리'], ['고라니', '너구리'], None, None, ['고라니'], ['고라니', '멧돼지'], None, None, ['고양이', '고라니'], ['고라니', '멧돼지'], None, None, ['고라니', '다람쥐', '노루', '멧돼지', '삵', '오소리', '족제비', '담비', '조류', '멧비둘기', '조류'], ['고라니', '노루', '다람쥐', '담비', '멧돼지', '삵', '오소리', '족제비', '청설모', '조류', '멧비둘기', '조류', '조류'], None, None, None, None, None, None, None, None, ['너구리', '고라니', '멧돼지'], ['고라니', '너구리', '멧돼지'], ['고라니', '너구리', '족제비'], ['고라니', '너구리', '삵'], ['오소리', '너구리'], ['오소리', '족제비'], ['고라니', '고양이'], ['고라니', '너구리', '삵', '고양이', '개', '조류'], ['고양이', '오소리', '족제비'], None, None, None, ['오소리', '족제비', '삵', '고양이', '개', '흰배지빠귀', '다람쥐', '너구리', '딱새'], None, None, ['고라니'], None, None, None, ['고라니', '개'], None, ['너구리', '삵', '족제비', '청설모', '개', '고양이'], None, ['고라니', '멧돼지'], None, None, None, None, ['고라니', '너구리', '삵'], ['너구리', '삵', '족제비'], ['삵', '너구리', '오소리'], ['너구리'], None, None, ['오소리'], ['삵', '너구리', '오소리'], None, ['고라니'], ['고라니'], None, None, None, None, None, None, ['고양이', '조류'], ['고라니', '멧토끼', '너구리'], None, ['고라니', '오소리'], ['너구리', '고라니', '고양이'], ['고라니'], ['고양이'], None, ['고라니'], None, None, None, None, None, None, None, None, ['산양', '담비', '멧돼지', '고라니', '너구리'], None, ['노루', '족제비', '꿩', '멧비둘기', '들개', '고양이', '오소리', '다람쥐'], ['고라니'], None, None, None, ['고라니'], None, None, None, None, None, None, None, None, None, None, None, ['고라니'], None, None, None, None, None, None, None, None, None, None, ['고라니', '멧돼지'], None, None, ['고라니', '멧돼지'], None, None, ['고라니', '너구리'], ['고라니', '고양이'], None, None, ['멧돼지', '고라니', '오소리'], None, None, None, None, None, None, None, None, ['고라니', '멧돼지'], ['고라니', '멧돼지'], ['고라니', '삵'], ['고라니', '삵'], None, None, ['고라니'], None, None, ['고라니', '너구리'], ['고라니'], None, None, None, ['고라니', '너구리', '멧돼지'], ['고라니'], ['고라니'], ['너구리'], ['고라니'], ['고라니', '너구리', '멧토끼'], ['고라니'], ['노루', '고라니'], ['족제비', '멧토끼', '등줄쥐'], ['고라니', '너구리'], ['고라니', '너구리'], None, None, None, None, None, None, ['고라니', '너구리', '삵', '멧돼지'], None, ['삵'], None, None, None, None, ['고라니', '너구리', '멧돼지'], None, None, None, None, None, None, None, None, None, None, ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니', '너구리', '삵', '멧돼지'], ['고라니'], ['고라니'], ['고라니', '너구리', '멧돼지'], ['고라니', '너구리'], ['고라니', '너구리'], ['고라니'], None, None, None, None, None, None, ['고라니', '너구리'], None, None, None, None, ['고라니', '너구리', '멧돼지'], ['고라니', '너구리', '멧돼지'], ['고라니', '멧돼지'], ['고라니', '멧돼지'], ['고라니'], ['고라니', '멧돼지'], ['고라니', '멧돼지'], None, None, None, None, ['고라니', '멧돼지'], ['고라니', '멧돼지'], ['고라니', '멧돼지'], ['멧돼지', '고라니'], ['고라니', '멧돼지']]

In [7]:
df_main['이용확인종,이용빈도높은종,멸종위기종이용빈도']=monitored
df_main.rename(columns={'이용확인종,이용빈도높은종,멸종위기종이용빈도':'이용확인종'}, inplace=True)
df_main['이용확인 종 수'] = [len(x) if x is not None else 0 for x in df_main['이용확인종']]
df_main

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\3441695554.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['이용확인종,이용빈도높은종,멸종위기종이용빈도']=monitored
C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\3441695554.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main.rename(columns={'이용확인종,이용빈도높은종,멸종위기종이용빈도':'이용확인종'}, inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\3441695554.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['이용확인 종 수'] = [len(x) if x is not None else 0 for x in df_main['이용확인종']]

,번호,생태통로명,차선_수,생태통로타입,등산객이용빈도,생태통로효율성,이용확인종,이용확인 종 수
0,1495,가계통로,왕복4차선,육교형,극히 적음,판단 불가,None,0
1,1277,가대리,왕복2차선,터널형,NaN,판단 불가,None,0
2,1278,가산리,왕복2차선,터널형,NaN,판단 불가,"[고라니, 멧돼지, 파충류]",3
3,1279,가산리2,왕복2차선,터널형,NaN,판단 불가,"[고라니, 멧돼지, 파충류]",3
4,1090,각리,왕복6차선,육교형,매일 다수,보통(주 35회 야생동물 이용),"[개, 고양이, 다람쥐]",3
...,...,...,...,...,...,...,...,...
512,1089,NaN,왕복6차선,육교형,NaN,판단 불가,"[고라니, 멧돼지]",2
513,1087,NaN,왕복4차선,육교형,매일 다수,판단 불가,"[고라니, 멧돼지]",2
514,1088,NaN,왕복4차선,육교형,매일 다수,판단 불가,"[고라니, 멧돼지]",2
515,1091,NaN,왕복2차선,육교형,NaN,판단 불가,"[멧돼지, 고라니]",2
516,1072,NaN,왕복6차선,육교형,매일 다수,판단 불가,"[고라니, 멧돼지]",2

# 생태통로 효율성 결측치 1차 처리
효율성값이 판단불가 또는 null인데 이용확인 종 수가 존재하는 경우

In [8]:
eff_preprocess_index = list(df_main[((df_main['생태통로효율성']=='판단 불가') | df_main['생태통로효율성'].isnull()) & (df_main['이용확인 종 수']>0)].index)
eff_preprocess_dict = {
    1: '낮음',
    2: '낮음',
    3: '보통',
    4: '높음',
    5: '높음'
}
for idx in eff_preprocess_index:
    df_main.loc[idx, '생태통로효율성']=eff_preprocess_dict[df_main.loc[idx,'이용확인 종 수']]

처리후 효율성 값이 null인 것 판단 불가 처리, 문자열 길이 줄이기

In [9]:
df_main['생태통로효율성'].fillna('판단 불가', inplace=True)
df_main['생태통로효율성'] = df_main['생태통로효율성'].apply(lambda x : x.split('(')[0])
df_main

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\3689056347.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['생태통로효율성'].fillna('판단 불가', inplace=True)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\3689056347.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['생태통로효율성'] = df_main['생태통로효율성'].apply(lambda x : x.split('(')[0])

       번호 생태통로명   차선_수 생태통로타입 등산객이용빈도 생태통로효율성            이용확인종  이용확인 종 수
0    1495  가계통로  왕복4차선    육교형   극히 적음   판단 불가             None         0
1    1277   가대리  왕복2차선    터널형     NaN   판단 불가             None         0
2    1278   가산리  왕복2차선    터널형     NaN      보통  [고라니, 멧돼지, 파충류]         3
3    1279  가산리2  왕복2차선    터널형     NaN      보통  [고라니, 멧돼지, 파충류]         3
4    1090    각리  왕복6차선    육교형   매일 다수      보통    [개, 고양이, 다람쥐]         3
..    ...   ...    ...    ...     ...     ...              ...       ...
512  1089   NaN  왕복6차선    육교형     NaN      낮음       [고라니, 멧돼지]         2
513  1087   NaN  왕복4차선    육교형   매일 다수      낮음       [고라니, 멧돼지]         2
514  1088   NaN  왕복4차선    육교형   매일 다수      낮음       [고라니, 멧돼지]         2
515  1091   NaN  왕복2차선    육교형     NaN      낮음       [멧돼지, 고라니]         2
516  1072   NaN  왕복6차선    육교형   매일 다수      낮음       [고라니, 멧돼지]         2

[517 rows x 8 columns]

생태통로 타입이 null인 생태통로 제외

In [10]:
drop_list = list(df_main[df_main['생태통로타입'].isnull()].index)
print('drop {} row'.format(len(drop_list)))
df_main.drop(drop_list, axis=0, inplace=True)
print(len(df_main))

drop 12 row
505

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\2884141118.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main.drop(drop_list, axis=0, inplace=True)

# 등산객이용빈도 결측치 처리

In [11]:
print(df_main['등산객이용빈도'].unique())
df_main.groupby('등산객이용빈도')['번호'].count()

['극히 적음' nan '매일 다수' '월 1~4회' '일 1~2회' '주 2~5회' '월 4회 이하']

등산객이용빈도
극히 적음      132
매일 다수       41
월 1~4회       7
월 4회 이하     34
일 1~2회      10
주 2~5회       8
Name: 번호, dtype: int64

In [12]:
df_main['등산객이용빈도'].fillna('없음', inplace=True)
df_main.groupby('등산객이용빈도')['번호'].count()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\1002909671.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['등산객이용빈도'].fillna('없음', inplace=True)

등산객이용빈도
극히 적음      132
매일 다수       41
없음         273
월 1~4회       7
월 4회 이하     34
일 1~2회      10
주 2~5회       8
Name: 번호, dtype: int64

# 차선_수 결측치 처리

In [13]:
print(sorted(df_main['차선_수'].unique()))
df_main.groupby('차선_수')['번호'].count()

['왕복12차선', '왕복16차선', '왕복1차선', '왕복2차선', '왕복3차선', '왕복4차선', '왕복5차선', '왕복6차선', '왕복7차선', '왕복8차선', '하천횡단']

차선_수
왕복12차선      1
왕복16차선      1
왕복1차선       5
왕복2차선     211
왕복3차선       9
왕복4차선     229
왕복5차선       4
왕복6차선      32
왕복7차선       1
왕복8차선      11
하천횡단        1
Name: 번호, dtype: int64

In [14]:
df_main['차선_수'] = [x.replace('왕복', '').replace('차선', '') for x in df_main['차선_수']]

df_main

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\2674156515.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['차선_수'] = [x.replace('왕복', '').replace('차선', '') for x in df_main['차선_수']]

       번호 생태통로명 차선_수 생태통로타입 등산객이용빈도 생태통로효율성            이용확인종  이용확인 종 수
0    1495  가계통로    4    육교형   극히 적음   판단 불가             None         0
1    1277   가대리    2    터널형      없음   판단 불가             None         0
2    1278   가산리    2    터널형      없음      보통  [고라니, 멧돼지, 파충류]         3
3    1279  가산리2    2    터널형      없음      보통  [고라니, 멧돼지, 파충류]         3
4    1090    각리    6    육교형   매일 다수      보통    [개, 고양이, 다람쥐]         3
..    ...   ...  ...    ...     ...     ...              ...       ...
512  1089   NaN    6    육교형      없음      낮음       [고라니, 멧돼지]         2
513  1087   NaN    4    육교형   매일 다수      낮음       [고라니, 멧돼지]         2
514  1088   NaN    4    육교형   매일 다수      낮음       [고라니, 멧돼지]         2
515  1091   NaN    2    육교형      없음      낮음       [멧돼지, 고라니]         2
516  1072   NaN    6    육교형   매일 다수      낮음       [고라니, 멧돼지]         2

[505 rows x 8 columns]

In [15]:
df_main.loc[df_main['차선_수']=='하천횡단', '차선_수'] = 0

In [16]:
df_main['차선_수'] = df_main['차선_수'].astype('int64')

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\2833697645.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['차선_수'] = df_main['차선_수'].astype('int64')

# 라벨링

In [17]:
labeling_columns = ['생태통로효율성', '등산객이용빈도', '생태통로타입']

eff = { # 생태통로 효율성
    '낮음' : 0,
    '보통' : 1,
    '높음' : 2,
    '판단 불가': 3
}
hiker = { # 등산객 이용빈도
    '없음' : 0,
    '극히 적음' : 1,
    '월 1~4회' : 2,
    '월 4회 이하': 2,
    '주 2~5회': 3,
    '일 1~2회': 4,
    '매일 다수' : 5
}

bridge_type = { # 생태통로 타입
    '육교형': 0,
    '터널형': 1,
    '양서·파충류 통로': 2
}

labeling_dict = {
    labeling_columns[0] : eff,
    labeling_columns[1] : hiker,
    labeling_columns[2] : bridge_type
}

In [18]:
for c in labeling_columns :
    df_main[c] = [labeling_dict[c][x] for x in df_main[c]]

df_main

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\446310423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main[c] = [labeling_dict[c][x] for x in df_main[c]]

       번호 생태통로명  차선_수  생태통로타입  등산객이용빈도  생태통로효율성            이용확인종  이용확인 종 수
0    1495  가계통로     4       0        1        3             None         0
1    1277   가대리     2       1        0        3             None         0
2    1278   가산리     2       1        0        1  [고라니, 멧돼지, 파충류]         3
3    1279  가산리2     2       1        0        1  [고라니, 멧돼지, 파충류]         3
4    1090    각리     6       0        5        1    [개, 고양이, 다람쥐]         3
..    ...   ...   ...     ...      ...      ...              ...       ...
512  1089   NaN     6       0        0        0       [고라니, 멧돼지]         2
513  1087   NaN     4       0        5        0       [고라니, 멧돼지]         2
514  1088   NaN     4       0        5        0       [고라니, 멧돼지]         2
515  1091   NaN     2       0        0        0       [멧돼지, 고라니]         2
516  1072   NaN     6       0        5        0       [고라니, 멧돼지]         2

[505 rows x 8 columns]

In [19]:
def list2string(row):
    if row is None :
        return row
    else :
        return ' '.join(row)

df_main['이용확인종'] = df_main['이용확인종'].apply(list2string)
df_main

C:\Users\Administrator\AppData\Local\Temp\ipykernel_25928\1621548934.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_main['이용확인종'] = df_main['이용확인종'].apply(list2string)

       번호 생태통로명  차선_수  생태통로타입  등산객이용빈도  생태통로효율성        이용확인종  이용확인 종 수
0    1495  가계통로     4       0        1        3         None         0
1    1277   가대리     2       1        0        3         None         0
2    1278   가산리     2       1        0        1  고라니 멧돼지 파충류         3
3    1279  가산리2     2       1        0        1  고라니 멧돼지 파충류         3
4    1090    각리     6       0        5        1    개 고양이 다람쥐         3
..    ...   ...   ...     ...      ...      ...          ...       ...
512  1089   NaN     6       0        0        0      고라니 멧돼지         2
513  1087   NaN     4       0        5        0      고라니 멧돼지         2
514  1088   NaN     4       0        5        0      고라니 멧돼지         2
515  1091   NaN     2       0        0        0      멧돼지 고라니         2
516  1072   NaN     6       0        5        0      고라니 멧돼지         2

[505 rows x 8 columns]

# 생태통로 규격

In [38]:
df_eco = load_data_from_rds('생태통로', db_connection)
df_eco = df_eco[['번호', '위도', '경도']]

In [39]:
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 11.8 KB

In [40]:
# df1 : 국립생태원 PDF 규격 데이터
df1 = pd.read_csv('.././data/main/생태통로_국립생태원PDF.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   위도      66 non-null     float64
 1   경도      66 non-null     float64
 2   연장      66 non-null     float64
 3   폭       65 non-null     float64
 4   높이      20 non-null     float64
 5   개방도     20 non-null     float64
dtypes: float64(6)
memory usage: 3.2 KB

In [41]:
# df2 : 환경부 PDF 규격 데이터
df2 = pd.read_csv('.././data/main/생태통로_환경부PDF.csv')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   위도      150 non-null    float64
 1   경도      150 non-null    float64
 2   연장      152 non-null    float64
 3   폭       152 non-null    float64
 4   높이      30 non-null     float64
 5   개방도     30 non-null     float64
dtypes: float64(6)
memory usage: 7.2 KB

In [42]:
# df_eco와 df를 좌표 기준으로 병합
df1 = pd.merge(df_eco, df1, how='outer', on=['위도','경도'])
df2 = pd.merge(df_eco, df2, how='outer', on=['위도','경도'])

In [43]:
# df_eco에 df1의 규격 데이터 추가
col_list = ['폭', '연장', '높이', '개방도']
df_eco = pd.concat([df_eco, df1[col_list]], axis=1)
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
 3   폭       65 non-null     float64
 4   연장      66 non-null     float64
 5   높이      20 non-null     float64
 6   개방도     20 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 27.3 KB

In [44]:
# df_eco에 df2의 규격 데이터 추가
idx = list(df_eco[((df_eco[col_list[0]].isnull()) | df_eco[col_list[1]].isnull())].index)
for i in idx:
  for col in col_list:
    df_eco.loc[i, col] = df2.loc[i, col]
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
 3   폭       187 non-null    float64
 4   연장      187 non-null    float64
 5   높이      43 non-null     float64
 6   개방도     43 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 27.3 KB

In [45]:
df_eco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
 3   폭       187 non-null    float64
 4   연장      187 non-null    float64
 5   높이      43 non-null     float64
 6   개방도     43 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 27.3 KB

# 규격 추가 데이터

In [46]:
df = pd.read_csv('../data/main/생태통로_규격계산.csv')
df
df_worked = df.drop(['Unnamed: 0', '생태통로타입'], axis=1)
df_worked = df_worked.rename(columns={'너비_m':'폭'})
df_worked = df_worked.rename(columns={'길이_m':'연장'})
df_worked

       번호    위도_십진법     경도_십진법      폭    연장
0    1495  35.36019  128.06375   5.00  45.0
1    1090  36.71051  127.42222   8.23  38.0
2    1023  37.41972  127.18750  25.10  13.0
3    1527  37.61974  127.11887    NaN   NaN
4    1453  36.40691  129.04714  37.30  12.4
..    ...       ...        ...    ...   ...
301  1089  36.71278  127.42056  13.30  50.7
302  1087  36.71722  127.41778  13.60  38.7
303  1088  36.71222  127.42528  13.30  50.7
304  1091  36.76750  127.47333   7.00  20.0
305  1072  36.65293  127.51278  41.70  59.0

[306 rows x 5 columns]

In [47]:
df_worked.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306 entries, 0 to 305
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      306 non-null    int64
 1   위도_십진법  306 non-null    float64
 2   경도_십진법  306 non-null    float64
 3   폭       240 non-null    float64
 4   연장      240 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 12.1 KB

In [48]:
df_processed = df_eco.copy()

for idx in range(len(df_processed)):
    for j in range(len(df_worked)):
        # 번호 같은지 확인
        if df_processed.iloc[idx, 0] == df_worked.iloc[j,0]:
            # 폭, 연장 추가
            if np.isnan(df_processed.loc[idx, "폭"]):
                df_processed.loc[idx, "폭"] = df_worked.iloc[j,3]
            if np.isnan(df_processed.loc[idx, "연장"]):
                df_processed.loc[idx, "연장"] = df_worked.iloc[j,4]

df_processed

       번호        위도         경도      폭     연장  높이  개방도
0    1495  35.36019  128.06375   5.00   45.0 NaN  NaN
1    1277  37.03408  128.40661    NaN    NaN NaN  NaN
2    1278  36.89832  128.30563    NaN    NaN NaN  NaN
3    1279  36.89687  128.30581    NaN    NaN NaN  NaN
4    1090  36.71051  127.42222   8.23   38.0 NaN  NaN
..    ...       ...        ...    ...    ...  ..  ...
492  1089  36.71278  127.42056  13.30   50.7 NaN  NaN
493  1087  36.71722  127.41778  13.60   38.7 NaN  NaN
494  1088  36.71222  127.42528  13.30   50.7 NaN  NaN
495  1091  36.76750  127.47333   7.00   20.0 NaN  NaN
496  1072  36.65293  127.51278  35.00  100.0 NaN  NaN

[497 rows x 7 columns]

In [49]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
 3   폭       318 non-null    float64
 4   연장      318 non-null    float64
 5   높이      43 non-null     float64
 6   개방도     43 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 27.3 KB

# merge

In [50]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 505 entries, 0 to 516
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   번호        505 non-null    int64
 1   생태통로명     383 non-null    object
 2   차선_수      505 non-null    int64
 3   생태통로타입    505 non-null    int64
 4   등산객이용빈도   505 non-null    int64
 5   생태통로효율성   505 non-null    int64
 6   이용확인종     215 non-null    object
 7   이용확인 종 수  505 non-null    int64
dtypes: int64(6), object(2)
memory usage: 35.5+ KB

In [51]:
df_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      497 non-null    int64
 1   위도      497 non-null    float64
 2   경도      497 non-null    float64
 3   폭       318 non-null    float64
 4   연장      318 non-null    float64
 5   높이      43 non-null     float64
 6   개방도     43 non-null     float64
dtypes: float64(6), int64(1)
memory usage: 27.3 KB

In [53]:
df_merge = pd.merge(df_processed, df_main, on='번호', how='left')
df_merge

,번호,위도,경도,폭,연장,높이,개방도,생태통로명,차선_수,생태통로타입,등산객이용빈도,생태통로효율성,이용확인종,이용확인 종 수
0,1495,35.36019,128.06375,5.00,45.0,NaN,NaN,가계통로,4,0,1,3,None,0
1,1277,37.03408,128.40661,NaN,NaN,NaN,NaN,가대리,2,1,0,3,None,0
2,1278,36.89832,128.30563,NaN,NaN,NaN,NaN,가산리,2,1,0,1,고라니 멧돼지 파충류,3
3,1279,36.89687,128.30581,NaN,NaN,NaN,NaN,가산리2,2,1,0,1,고라니 멧돼지 파충류,3
4,1090,36.71051,127.42222,8.23,38.0,NaN,NaN,각리,6,0,5,1,개 고양이 다람쥐,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,13.30,50.7,NaN,NaN,NaN,6,0,0,0,고라니 멧돼지,2
493,1087,36.71722,127.41778,13.60,38.7,NaN,NaN,NaN,4,0,5,0,고라니 멧돼지,2
494,1088,36.71222,127.42528,13.30,50.7,NaN,NaN,NaN,4,0,5,0,고라니 멧돼지,2
495,1091,36.76750,127.47333,7.00,20.0,NaN,NaN,NaN,2,0,0,0,멧돼지 고라니,2
496,1072,36.65293,127.51278,35.00,100.0,NaN,NaN,NaN,6,0,5,0,고라니 멧돼지,2

In [54]:
df_merge.drop(['생태통로명', '이용확인종', '이용확인 종 수'], axis=1, inplace=True)

In [55]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 497 entries, 0 to 496
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   번호       497 non-null    int64
 1   위도       497 non-null    float64
 2   경도       497 non-null    float64
 3   폭        318 non-null    float64
 4   연장       318 non-null    float64
 5   높이       43 non-null     float64
 6   개방도      43 non-null     float64
 7   차선_수     497 non-null    int64
 8   생태통로타입   497 non-null    int64
 9   등산객이용빈도  497 non-null    int64
 10  생태통로효율성  497 non-null    int64
dtypes: float64(6), int64(5)
memory usage: 46.6 KB

In [56]:
upload_data_to_rds(df_merge, '생태통로', db_connection)