In [10]:
import pandas as pd
from DB import *

db_connection = connect_db()

In [11]:
raw_df = pd.read_csv('.././data/variables/등산로_join.csv', encoding='cp949')
raw_df

,번호,join_PMNTN_SN,join_MNTN_CODE,join_MNTN_NM,join_PMNTN_NM,join_PMNTN_MAIN,join_PMNTN_LT,join_PMNTN_DFFL,join_PMNTN_UPPL,join_PMNTN_GODN,join_PMNTN_MTRQ,join_PMNTN_CNRL,join_PMNTN_CLS,join_PMNTN_RISK,join_PMNTN_RECO,join_DATA_STDR,join_MNTN_ID,distance
0,1495,47603,481702801,집현산,도리구간,NaN,1.29,쉬움,23,16,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.812402e+09,3157.025581
1,1277,106,438003204,가대리문화마을,가대리구간,NaN,2.15,쉬움,81,56,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380032e+08,1087.577778
2,1278,12966,438002801,도락산,가산리구간,NaN,0.03,쉬움,1,0,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380028e+08,3070.682447
3,1279,12966,438002801,도락산,가산리구간,NaN,0.03,쉬움,1,0,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380028e+08,2921.190492
4,1090,17094,431101701,몽령산,양청리구간,NaN,0.31,쉬움,5,4,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,25.082554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,17091,431101701,몽령산,NaN,NaN,0.86,쉬움,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,25.617176
493,1087,17091,431101701,몽령산,NaN,NaN,0.86,쉬움,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,21.407056
494,1088,17100,431101701,몽령산,NaN,NaN,0.11,쉬움,2,1,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,8.204429
495,1091,22461,431102101,범백산,원리구간,NaN,3.24,쉬움,57,40,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.311021e+08,878.327119
496,1072,40945,431103901,우암산,율량동구간,NaN,0.86,쉬움,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.311039e+08,1.196585

In [12]:
df = raw_df[['번호', 'distance']]
df

       번호     distance
0    1495  3157.025581
1    1277  1087.577778
2    1278  3070.682447
3    1279  2921.190492
4    1090    25.082554
..    ...          ...
492  1089    25.617176
493  1087    21.407056
494  1088     8.204429
495  1091   878.327119
496  1072     1.196585

[497 rows x 2 columns]

In [13]:
df['distance'] = df['distance'] / 1000
df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_24392\128785412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance'] = df['distance'] / 1000
C:\Users\Administrator\AppData\Local\Temp\ipykernel_24392\128785412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)

       번호  등산로까지 최단거리(km)
0    1495        3.157026
1    1277        1.087578
2    1278        3.070682
3    1279        2.921190
4    1090        0.025083
..    ...             ...
492  1089        0.025617
493  1087        0.021407
494  1088        0.008204
495  1091        0.878327
496  1072        0.001197

[497 rows x 2 columns]

In [14]:
table = load_data_from_rds('변수관계설정', db_connection)
table

       번호
0    1001
1    1002
2    1004
3    1005
4    1006
..    ...
531  1564
532  1565
533  1566
534  1567
535  1568

[536 rows x 1 columns]

In [16]:
table= table.merge(df, on='번호')
table

       번호  등산로까지 최단거리(km)
0    1001        1.903039
1    1002        0.120319
2    1004        0.047211
3    1005        0.233820
4    1006        2.172428
..    ...             ...
492  1561        0.000416
493  1562        2.835246
494  1564        0.886170
495  1567        9.125829
496  1568        0.642351

[497 rows x 2 columns]

In [17]:
upload_data_to_rds(table, '변수관계설정', db_connection)