In [1]:
from DB import *
db_connection = connect_db()

In [2]:
main = load_data_from_rds('생태통로', db_connection)
main

,번호,위도,경도,폭,연장,높이,개방도,차선_수,생태통로타입,등산객이용빈도,생태통로효율성
0,1495,35.36019,128.06375,5.00,45.0,NaN,NaN,4,0,1,3
1,1277,37.03408,128.40661,NaN,NaN,NaN,NaN,2,1,0,3
2,1278,36.89832,128.30563,NaN,NaN,NaN,NaN,2,1,0,1
3,1279,36.89687,128.30581,NaN,NaN,NaN,NaN,2,1,0,1
4,1090,36.71051,127.42222,8.23,38.0,NaN,NaN,6,0,5,1
...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,13.30,50.7,NaN,NaN,6,0,0,0
493,1087,36.71722,127.41778,13.60,38.7,NaN,NaN,4,0,5,0
494,1088,36.71222,127.42528,13.30,50.7,NaN,NaN,4,0,5,0
495,1091,36.76750,127.47333,7.00,20.0,NaN,NaN,2,0,0,0
496,1072,36.65293,127.51278,35.00,100.0,NaN,NaN,6,0,5,0

In [3]:
# 경지계 데이터가 커 두 개로 나눠져 있음
farm1 = pd.read_csv('../data/variables/경지계1-3.csv')
farm2 = pd.read_csv('../data/variables/경지계4-7.csv')

In [4]:
farm1.head(3)

,번호,위도_십진,경도_십진,생태통로타,차선_수,등산객이용,생태통로효,이용확인종,이용확인,면적_m^2,너비_m,길이_m,join_UFID,join_DIVI,join_SCLS,join_FMTA,join_layer,join_path,distance
0,1495,35.36019,128.06375,0,1,1,3,NaN,0,NaN,NaN,NaN,VGT0100000037M3BF,FLD002,NaN,NaN,NGII_CDM_寃쎌�怨�3 �� Z_NGII_N3A_D0010000_C.shp,/vsizip/C:/Users/tkfkd/Downloads/NGII_CDM_寃쎌�怨...,20874.160929
1,1277,37.03408,128.40661,1,0,0,3,NaN,0,NaN,NaN,NaN,VGT010000000CPZX2,FLD002,NaN,NaN,NGII_CDM_寃쎌�怨�1 �� Z_NGII_N3A_D0010000_A.shp,/vsizip/C:/Users/tkfkd/Downloads/NGII_CDM_寃쎌�怨...,303.690012
2,1278,36.89832,128.30563,1,0,0,1,고라니 멧돼지 파충류,3,NaN,NaN,NaN,VGT010000000R9IM9,FLD002,NaN,NaN,NGII_CDM_寃쎌�怨�1 �� Z_NGII_N3A_D0010000_A.shp,/vsizip/C:/Users/tkfkd/Downloads/NGII_CDM_寃쎌�怨...,11.153787

In [5]:
# 필요 없는 컬럼 drop
farm1.drop(['join_UFID',	'join_DIVI',	'join_SCLS',	'join_FMTA',	'join_layer',	'join_path'], axis=1, inplace=True)
farm2.drop(['join_UFID',	'join_DIVI',	'join_SCLS',	'join_FMTA',	'join_layer',	'join_path'], axis=1, inplace=True)

In [6]:
# 농가(경지계)까지의 최단 거리 저장 - farm1, farm2 두 데이터의 거리를 비교해 더 작은 것을 저장
for i in range(len(farm1)):
  dist_km = min(farm1['distance'][i], farm2['distance'][i]) / 1000 # 기존 distance는 미터 단위이므로 킬로미터 단위로 바꾸어 저장
  main.loc[i, '농가까지의 거리(km)'] = dist_km

In [7]:
main

,번호,위도,경도,폭,연장,높이,개방도,차선_수,생태통로타입,등산객이용빈도,생태통로효율성,농가까지의 거리(km)
0,1495,35.36019,128.06375,5.00,45.0,NaN,NaN,4,0,1,3,0.223706
1,1277,37.03408,128.40661,NaN,NaN,NaN,NaN,2,1,0,3,0.303690
2,1278,36.89832,128.30563,NaN,NaN,NaN,NaN,2,1,0,1,0.011154
3,1279,36.89687,128.30581,NaN,NaN,NaN,NaN,2,1,0,1,0.012767
4,1090,36.71051,127.42222,8.23,38.0,NaN,NaN,6,0,5,1,0.183505
...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,13.30,50.7,NaN,NaN,6,0,0,0,0.287976
493,1087,36.71722,127.41778,13.60,38.7,NaN,NaN,4,0,5,0,0.119958
494,1088,36.71222,127.42528,13.30,50.7,NaN,NaN,4,0,5,0,0.116240
495,1091,36.76750,127.47333,7.00,20.0,NaN,NaN,2,0,0,0,0.023978
496,1072,36.65293,127.51278,35.00,100.0,NaN,NaN,6,0,5,0,0.013048

## 최종 데이터

In [8]:
df = main[['번호', '농가까지의 거리(km)']]
df

       번호  농가까지의 거리(km)
0    1495      0.223706
1    1277      0.303690
2    1278      0.011154
3    1279      0.012767
4    1090      0.183505
..    ...           ...
492  1089      0.287976
493  1087      0.119958
494  1088      0.116240
495  1091      0.023978
496  1072      0.013048

[497 rows x 2 columns]

## RDS에 데이터 업로드

In [9]:
table = load_data_from_rds('변수관계설정', db_connection)
table

       번호  경사도
0    1001    6
1    1002    5
2    1004    2
3    1005    2
4    1006    4
..    ...  ...
492  1561    2
493  1562    5
494  1564    4
495  1567    5
496  1568    4

[497 rows x 2 columns]

In [10]:
table = table.merge(df, on='번호')
table

       번호  경사도  농가까지의 거리(km)
0    1001    6      0.125686
1    1002    5      0.074627
2    1004    2      0.110617
3    1005    2      0.009030
4    1006    4      0.098269
..    ...  ...           ...
492  1561    2      0.087448
493  1562    5      0.137822
494  1564    4      0.054073
495  1567    5      0.102655
496  1568    4      0.086586

[497 rows x 3 columns]

In [11]:
upload_data_to_rds(table, '변수관계설정', db_connection)