In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
endpoint = 'dao.c51deksujiip.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [4]:
df = pd.read_csv('.././data/CSV/식생_join.csv', encoding='cp949')
df

,번호,위도_십진,경도_십진,생태통로타,차선_수,등산객이용,생태통로효,이용확인종,이용확인,면적_m^2,...,join_식물군락명,join_위도,join_경도,join_조사시작일,join_조사종료일,join_조사년도,join_시도명,join_layer,join_path,distance
0,1495,35.36019,128.06375,0,1,1,3,NaN,0,NaN,...,소나무군락,128.068519,35.354705,NaN,NaN,2016,경상남도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,30.082630
1,1277,37.03408,128.40661,1,0,0,3,NaN,0,NaN,...,소나무-신갈나무군락,128.397021,37.025322,NaN,NaN,2018,충청북도,전국자연환경조사_4차_식생_2018_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2018_...,0.000000
2,1278,36.89832,128.30563,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,171.879476
3,1279,36.89687,128.30581,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,29.874623
4,1090,36.71336,127.42200,0,2,5,1,개 고양이 다람쥐,3,312.74,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,83.135125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,0,2,0,0,고라니 멧돼지,2,674.31,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,47.229682
493,1087,36.71722,127.41778,0,1,5,0,고라니 멧돼지,2,526.32,...,아까시나무식재림,127.416540,36.717827,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,14.763222
494,1088,36.71222,127.42528,0,1,5,0,고라니 멧돼지,2,674.31,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,392.046457
495,1091,36.76750,127.47333,0,0,0,0,멧돼지 고라니,2,140.00,...,상수리나무군락,127.474248,36.764959,NaN,NaN,2017,충청북도,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,71.537445
496,1072,36.65293,127.51278,0,2,5,0,고라니 멧돼지,2,2460.30,...,잣나무식재림,127.512965,36.653320,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,0.000000

In [9]:
df.loc[df[df['distance']>2300].index, 'join_식물군락명'] = '판단 불가'

2.3km거리 이상 떨어진 식생의 특성은 사용하지 않고, 대신 판단 불가로 대체함

In [10]:
df['join_식물군락명'].nunique()

80

In [11]:
df.groupby('join_식물군락명')['번호'].count()

join_식물군락명
2차초지           4
개발지            6
곰솔-상수리나무군락     2
곰솔-소나무군락       2
곰솔-소나무식재림      1
              ..
졸참나무-신갈나무군락    3
졸참나무군락         1
칡군락            1
판단 불가          4
편백식재림          1
Name: 번호, Length: 80, dtype: int64

In [12]:
df = df[['번호', 'join_식물군락명']]
display(df)
print(df.isnull().sum())

       번호       join_식물군락명
0    1495            소나무군락
1    1277       소나무-신갈나무군락
2    1278            소나무군락
3    1279            소나무군락
4    1090  아까시나무-리기다소나무식재림
..    ...              ...
492  1089  아까시나무-리기다소나무식재림
493  1087         아까시나무식재림
494  1088  아까시나무-리기다소나무식재림
495  1091          상수리나무군락
496  1072           잣나무식재림

[497 rows x 2 columns]

번호            0
join_식물군락명    0
dtype: int64

In [15]:
HK = load_data_from_rds('MainData_희경')
HK

       번호  주변 동물종 개수  주변동물 출현빈도 지형기호(5km)     하천거리(km)
0    1495          2          2         X   134.468063
1    1277          3          5         X   434.781679
2    1278          0          0         X    74.780224
3    1279          0          0         X   125.168772
4    1090          0          0         X  2275.200182
..    ...        ...        ...       ...          ...
492  1089          0          0         X  2274.279975
493  1087          0          0         X  1722.566263
494  1088          0          0         X  2532.215687
495  1091          0          0         X  2096.234333
496  1072          0          0         X   901.351714

[497 rows x 5 columns]

In [16]:
result = HK.merge(df, on='번호')
result

       번호  주변 동물종 개수  주변동물 출현빈도 지형기호(5km)     하천거리(km)       join_식물군락명
0    1495          2          2         X   134.468063            소나무군락
1    1277          3          5         X   434.781679       소나무-신갈나무군락
2    1278          0          0         X    74.780224            소나무군락
3    1279          0          0         X   125.168772            소나무군락
4    1090          0          0         X  2275.200182  아까시나무-리기다소나무식재림
..    ...        ...        ...       ...          ...              ...
492  1089          0          0         X  2274.279975  아까시나무-리기다소나무식재림
493  1087          0          0         X  1722.566263         아까시나무식재림
494  1088          0          0         X  2532.215687  아까시나무-리기다소나무식재림
495  1091          0          0         X  2096.234333          상수리나무군락
496  1072          0          0         X   901.351714           잣나무식재림

[497 rows x 6 columns]

In [24]:
result.rename(columns={'join_식물군락명': '식물군락명'}, inplace=True)

In [18]:
result.to_sql('MainData_희경', con=db_connection, if_exists='replace', index=False)

497

# 라벨링

In [22]:
df = load_data_from_rds('MainData')

In [23]:
df['식물군락명'].unique()

array(['소나무군락', '소나무-신갈나무군락', '아까시나무-리기다소나무식재림', '신갈나무군락', '리기다소나무식재림',
       '곰솔-소나무군락', '잣나무식재림', '개발지', '신갈나무-소나무군락', '밤나무식재림',
       '일본잎갈나무-소나무식재림', '판단 불가', '상수리나무-신갈나무군락', '수역', '곰솔-아까시나무군락',
       '굴참나무-잣나무군락', '소나무-밤나무군락', '상수리나무군락', '소나무-상수리나무군락', '상수리나무-소나무군락',
       '소나무-굴참나무군락', '굴참나무-소나무군락', '밤나무-소나무식재림', '신갈나무-상수리나무군락',
       '일본잎갈나무식재림', '상수리나무-리기다소나무군락', '벌채지', '상수리나무-아까시나무군락',
       '잣나무-일본잎갈나무식재림', '2차초지', '아까시나무-상수리나무식재림', '리기다소나무-밤나무식재림', '곰솔군락',
       '아까시나무식재림', '아까시나무-소나무식재림', '곰솔-소나무식재림', '상수리나무-곰솔군락',
       '상수리나무-밤나무군락', '나지', '소나무-곰솔군락', '상수리나무-갈참나무군락', '소나무-일본잎갈나무군락',
       '신갈나무-아까시나무군락', '졸참나무-굴참나무군락', '졸참나무-신갈나무군락', '신갈나무-리기다소나무군락',
       '굴참나무군락', '굴참나무-상수리나무군락', '리기다소나무-소나무식재림', '조경식재지',
       '일본잎갈나무-상수리나무식재림', '소나무-리기다소나무군락', '리기다소나무-신갈나무식재림', '농경지',
       '리기다소나무-상수리나무식재림', '소나무-편백군락', '일본잎갈나무-잣나무식재림', '곰솔-상수리나무군락',
       '아까시나무-신갈나무식재림', '아까시나무-밤나무식재림', '소나무-리기다소나무식재림', '굴참나무-곰솔군락',
       '졸참나무군락', '잣나무-상수리나무식재림', '신갈나무-굴참나무군락', '소나무-졸참나무군락',
       '신갈나무-졸참나무군락', '때죽나무군락', '굴참나무-리기다소나무군락', '리기다소나무-잣나무식재림',
       '굴참나무-굴피나무군락', '편백식재림', '삼나무-곰솔식재림', '칡군락', '졸참나무-개서어나무군락',
       '졸참나무-서어나무군락', '졸참나무-곰솔군락', '리기다소나무-굴참나무식재림', '리기다소나무-아까시나무식재림'],
      dtype=object)

In [24]:
df['식물군락명'] = ['판단불가' if x == '판단 불가' else x for x in df['식물군락명'] ]

In [25]:
df['식물군락명'] = [x.replace('군락', '') for x in df['식물군락명']]
df['식물군락명'] = [x.replace('식재림', '') for x in df['식물군락명']]
df['식물군락명'] = [x.split('-')[0] for x in df['식물군락명']]
df['식물군락명'].unique()

array(['소나무', '아까시나무', '신갈나무', '리기다소나무', '곰솔', '잣나무', '개발지', '밤나무',
       '일본잎갈나무', '판단불가', '상수리나무', '수역', '굴참나무', '벌채지', '2차초지', '나지',
       '졸참나무', '조경식재지', '농경지', '때죽나무', '편백', '삼나무', '칡'], dtype=object)

In [26]:
df.groupby('식물군락명')['번호'].count()

식물군락명
2차초지        4
개발지         6
곰솔         23
굴참나무       28
나지          3
농경지         7
때죽나무        1
리기다소나무     54
밤나무        10
벌채지        11
삼나무         1
상수리나무      64
소나무       150
수역          3
신갈나무       45
아까시나무      18
일본잎갈나무     25
잣나무        25
조경식재지       2
졸참나무       10
칡           1
판단불가        5
편백          1
Name: 번호, dtype: int64

In [28]:
dominant=df['식물군락명']

In [29]:
df = load_data_from_rds('MainData')

In [30]:
df['최우점식물군락'] = dominant
df

,번호,위도,경도,생태통로_유형,차선_수,등산객_이용빈도,생태통로_효율성,이용확인종_수,폭(m),연장(m),...,식물군락명,등산로까지 최단거리(km),유도울타리_위도_2.3km,유도울타리_경도_2.3km,유도울타리_연장_m,유도울타리_높이_m,교통량,환경영향평가점수,건물까지거리(km),최우점식물군락
0,1495,35.36019,128.06375,0,1,1,3,0,NaN,NaN,...,소나무군락,3.157026,0.000000,0.000000,0,0.000000,7493.875000,2,0.196597,소나무
1,1277,37.03408,128.40661,1,0,0,3,0,NaN,NaN,...,소나무-신갈나무군락,1.087578,0.000000,0.000000,0,0.000000,3573.857143,1,0.358139,소나무
2,1278,36.89832,128.30563,1,0,0,1,3,NaN,NaN,...,소나무군락,3.070682,0.000000,0.000000,0,0.000000,3430.428571,2,0.139054,소나무
3,1279,36.89687,128.30581,1,0,0,1,3,NaN,NaN,...,소나무군락,2.921190,0.000000,0.000000,0,0.000000,3430.428571,2,0.044559,소나무
4,1090,36.71336,127.42200,0,2,5,1,3,8.23,38.0,...,아까시나무-리기다소나무식재림,0.025083,36.708802,127.437539,886,1.571429,34542.400000,5,0.172184,아까시나무
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,0,2,0,0,2,13.30,50.7,...,아까시나무-리기다소나무식재림,0.025617,36.701443,127.431078,442,1.000000,34270.190476,5,0.179017,아까시나무
493,1087,36.71722,127.41778,0,1,5,0,2,13.60,38.7,...,아까시나무식재림,0.021407,36.708802,127.437539,886,1.571429,34542.400000,5,0.094304,아까시나무
494,1088,36.71222,127.42528,0,1,5,0,2,13.30,50.7,...,아까시나무-리기다소나무식재림,0.008204,36.708802,127.437539,886,1.571429,34270.190476,5,0.124789,아까시나무
495,1091,36.76750,127.47333,0,0,0,0,2,7.00,20.0,...,상수리나무군락,0.878327,36.759335,127.483618,884,1.500000,26748.437500,2,0.070303,상수리나무
496,1072,36.65293,127.51278,0,2,5,0,2,41.70,59.0,...,잣나무식재림,0.001197,0.000000,0.000000,0,0.000000,17114.400000,5,0.127489,잣나무

In [31]:
df.to_sql('MainData', if_exists='replace', index=False, con=db_connection)

497

In [20]:
tree_list = []
for tree_group in df['식물군락명'] :
    trees = list(tree_group.split(' '))
    for tree in trees :
        if tree not in tree_list:
            tree_list.append(tree)

In [21]:
print(len(tree_list))
print(tree_list)

27
['소나무', '신갈나무', '아까시나무', '리기다소나무', '곰솔', '잣나무', '개발지', '밤나무', '일본잎갈나무', '판단불가', '상수리나무', '수역', '굴참나무', '벌채지', '2차초지', '나지', '갈참나무', '졸참나무', '조경식재지', '농경지', '편백', '때죽나무', '굴피나무', '삼나무', '칡', '개서어나무', '서어나무']

In [ ]:
tree_dict = {
    '소나무' : '산지침엽수림',
    ''
    '신갈나무' : '산지낙엽활엽수림',
    '아까시나무' : '식재림',
    '리기다소나무' : '식재림',
    '곰솔' : '식재림',
    '밤나무' : '식재림',
    '편백' : '식재림',
    '삼나무' : '식재림',
    '잣나무' : '식재림',
    '일본잎갈나무' : '식재림',
    '판단불가' : '판단불가',
    '수역' : '수역',
    '벌채지' : '벌채지',
    '2차초지'
}