In [1]:
import pandas as pd
from DB import *

db_connection = connect_db()

# 지형경관
전국자연환경조사 4차 지형경관 자료 이용
생태통로 위치와 가장 가까운 지형경관 특성 join 후 2.3km 이상 떨어진 곳의 지형경관과 병합된 것은
지형경관의 영향이 생태통로에 끼치지 않는다고 판단하여 지형경관 특성이 없음으로 처리

In [2]:
raw_df = pd.read_csv('.././data/variables/지형경관_join.csv', encoding='cp949')
raw_df

,번호,join_objectid,join_지형명,join_지형기호,join_위도,join_경도,join_조사일자,join_조사년도,join_시도명,join_layer,join_path,distance
0,1495,650,하천습지,GS22,128.018753,35.381318,2014-05-31,2014,경상남도,전국자연환경조사_4차_지형경관_면_2014_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,4424.552133
1,1277,966,애추,GM20,128.404833,37.011111,NaN,2015,충청북도,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2534.360903
2,1278,945,협곡,GS07,128.290438,36.871852,NaN,2015,충청북도,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,3092.143180
3,1279,945,협곡,GS07,128.290438,36.871852,NaN,2015,충청북도,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2952.941890
4,1090,6180,하안단구,GS25,127.461439,36.682694,2016-04-21,2016,충청북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,4877.146821
...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,6180,하안단구,GS25,127.461439,36.682694,2016-04-21,2016,충청북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,4927.303836
493,1087,6180,하안단구,GS25,127.461439,36.682694,2016-04-21,2016,충청북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,5445.978646
494,1088,6180,하안단구,GS25,127.461439,36.682694,2016-04-21,2016,충청북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,4579.442800
495,1091,2714,침식분지,GM22,127.442830,36.821951,NaN,2015,충청북도,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,6368.644757
496,1072,5474,선상지,GS11,127.565163,36.614825,2016-07-06,2016,충청북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,5557.090325

In [3]:
df = raw_df[['번호', 'join_지형명', 'join_지형기호', 'distance']]

생태통로와의 거리가 2.3km 이상인 지형경관 특성 => 특성없음. X 처리

In [4]:
print("5km:",len(df[df['distance'] > 5000].index))
print("2.3km:",len(df[df['distance'] > 2300].index))
print("1km:",len(df[df['distance'] > 1000].index))

5km: 64
2.3km: 291
1km: 417

In [5]:
indexs = list(df[df['distance'] > 2300].index)
for idx in indexs :
    df.loc[idx, 'join_지형명'] = '특성없음'
    df.loc[idx, 'join_지형기호'] = 'X'
    df.loc[idx, 'distance'] = -1

결측값 확인

In [6]:
df[df['join_지형명'].isnull()]

       번호 join_지형명 join_지형기호     distance
23   1498      NaN      GS26   479.665404
31   1464      NaN      GM08     0.000000
51   1197      NaN      GM11  1574.502799
97   1516      NaN      GS26  1974.953931
103  1016      NaN       NaN   626.173085
104  1156      NaN      GM01  1510.239716
107  1507      NaN      GS08  1149.199018
108  1027      NaN      GC10  1501.497554
110  1233      NaN      GS24  1367.607371
111  1561      NaN      GM01  1644.497905
123  1358      NaN      GS26  2113.581008
124  1429      NaN      GS22  2110.142551
130  1052      NaN      GS26  1439.324695
133  1219      NaN      GM20  1565.137139
134  1220      NaN      GM20  1449.609086
153  1508      NaN      GM01  1922.929984
154  1509      NaN      GM01  1884.729533
157  1222      NaN      GS32  1629.037584
168  1158      NaN      GM20  1242.876029
199  1396      NaN      GS26  2048.671252
212  1419      NaN      GM25   857.105070
230  1413      NaN      GS32  1625.771316
256  1120      NaN      GS12  1326.426805
271  1445      NaN      GM15   900.275581
275  1442      NaN      GC10  2255.528480
314  1267      NaN      GS26  1667.004877
330  1330      NaN      GS30   899.153651
340  1405      NaN      GS30  1965.645258
353  1398      NaN      GS08  1470.226908
432  1010      NaN      GS22  1504.208528
433  1012      NaN      GS26  1636.064458
434  1011      NaN      GS26  2202.628293
464  1170      NaN      GV07  1588.731071
465  1171      NaN      GV02   952.192121
481  1073      NaN      GS26   986.074331

In [7]:
df[df['join_지형기호'].isnull()]

       번호  join_지형명 join_지형기호     distance
66   1377   기타(논습지)       NaN  1289.569495
103  1016       NaN       NaN   626.173085
239  1109  기타(침식산지)       NaN  2031.919017
282  1167   기타(타포니)       NaN  1516.027542
325  1273      인공지형       NaN   982.773315

지형명이 null인데 지형기호가 있는 것은 기호에 따른 지형명을 찾아 채움

In [8]:
name_null = df[df['join_지형명'].isnull()]
display(name_null)
symbol = list(name_null['join_지형기호'].unique())
symbol_dict = {}
for s in symbol :
    a = df[(df['join_지형기호'] == s) & (df['join_지형명'].notnull())]
    try :
        symbol_dict[s]=a['join_지형명'].unique()[0]
    except :
        print(s)
print(symbol_dict)

       번호 join_지형명 join_지형기호     distance
23   1498      NaN      GS26   479.665404
31   1464      NaN      GM08     0.000000
51   1197      NaN      GM11  1574.502799
97   1516      NaN      GS26  1974.953931
103  1016      NaN       NaN   626.173085
104  1156      NaN      GM01  1510.239716
107  1507      NaN      GS08  1149.199018
108  1027      NaN      GC10  1501.497554
110  1233      NaN      GS24  1367.607371
111  1561      NaN      GM01  1644.497905
123  1358      NaN      GS26  2113.581008
124  1429      NaN      GS22  2110.142551
130  1052      NaN      GS26  1439.324695
133  1219      NaN      GM20  1565.137139
134  1220      NaN      GM20  1449.609086
153  1508      NaN      GM01  1922.929984
154  1509      NaN      GM01  1884.729533
157  1222      NaN      GS32  1629.037584
168  1158      NaN      GM20  1242.876029
199  1396      NaN      GS26  2048.671252
212  1419      NaN      GM25   857.105070
230  1413      NaN      GS32  1625.771316
256  1120      NaN      GS12  1326.426805
271  1445      NaN      GM15   900.275581
275  1442      NaN      GC10  2255.528480
314  1267      NaN      GS26  1667.004877
330  1330      NaN      GS30   899.153651
340  1405      NaN      GS30  1965.645258
353  1398      NaN      GS08  1470.226908
432  1010      NaN      GS22  1504.208528
433  1012      NaN      GS26  1636.064458
434  1011      NaN      GS26  2202.628293
464  1170      NaN      GV07  1588.731071
465  1171      NaN      GV02   952.192121
481  1073      NaN      GS26   986.074331

GM11
nan
GS24
GV07
{'GS26': '호소성 습지', 'GM08': '고립구릉', 'GM01': '급애', 'GS08': '하식애', 'GC10': '염습지', 'GS22': '하천습지', 'GM20': '애추', 'GS32': '인공호수', 'GM25': '토르군', 'GS12': '곡저평야', 'GM15': '구조(선)곡(단층(선)곡)', 'GS30': '범람원', 'GV02': '분석구'}

In [9]:
symbol_dict['GV07'] = '화구'
symbol_dict['GS24'] = '샛강습지'
symbol_dict['GM11'] = '풍화동굴'

In [10]:
name_null_index = list(name_null.index)
for idx in name_null_index :
    try:
        name = symbol_dict[df.loc[idx, 'join_지형기호']]
        df.loc[idx, 'join_지형명'] = name
    except: ## 지형기호가 nan
        print('error :', df.loc[idx, 'join_지형기호'])

error : nan

In [11]:
all_null = df[(df['join_지형명'].isnull()) & (df['join_지형기호'].isnull())]
all_null_index = list(all_null.index)

In [12]:
for idx in all_null_index :
    df.loc[idx, 'join_지형명'] = '특성없음'
    df.loc[idx, 'join_지형기호'] = 'X'

In [13]:
df.isnull().sum()

번호           0
join_지형명     0
join_지형기호    4
distance     0
dtype: int64

지형기호가 없는 것 => 기타.
지형명이 기타()인 것은 모두 기타로 통일

In [14]:
df[df['join_지형기호'].isnull()]

       번호  join_지형명 join_지형기호     distance
66   1377   기타(논습지)       NaN  1289.569495
239  1109  기타(침식산지)       NaN  2031.919017
282  1167   기타(타포니)       NaN  1516.027542
325  1273      인공지형       NaN   982.773315

In [15]:
print(df['join_지형명'].nunique())
print(df['join_지형기호'].nunique())

53
45

같은 지형기호여도 지형명이 다른 형식으로 적혀있는 경우가 있어 지형기호로 통일

In [16]:
etc_df = df[(df['join_지형기호']=='기타') | df['join_지형기호'].isnull()]

In [17]:
etc_index = list(etc_df.index)
for idx in etc_index :
    df.loc[idx, 'join_지형기호'] = '기타'
    df.loc[idx, 'join_지형명'] = '기타'

In [18]:
df

       번호 join_지형명 join_지형기호  distance
0    1495     특성없음         X      -1.0
1    1277     특성없음         X      -1.0
2    1278     특성없음         X      -1.0
3    1279     특성없음         X      -1.0
4    1090     특성없음         X      -1.0
..    ...      ...       ...       ...
492  1089     특성없음         X      -1.0
493  1087     특성없음         X      -1.0
494  1088     특성없음         X      -1.0
495  1091     특성없음         X      -1.0
496  1072     특성없음         X      -1.0

[497 rows x 4 columns]

In [19]:
result = df[['번호', 'join_지형기호']]
result.rename(columns={'join_지형기호':'지형기호(2.3km)'}, inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16140\141137194.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.rename(columns={'join_지형기호':'지형기호(2.3km)'}, inplace=True)

In [20]:
topo_dict = {
    'X' : 'X',
    '기타' : '기타',
    'GM' : '산지',
    'GS' : '하천',
    'GC' : '해안',
    'GV' : '기타'
}

In [21]:
result['지형기호(2.3km)'] = [topo_dict[x[:2]] for x in result['지형기호(2.3km)']]
result

C:\Users\Administrator\AppData\Local\Temp\ipykernel_16140\4269791716.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['지형기호(2.3km)'] = [topo_dict[x[:2]] for x in result['지형기호(2.3km)']]

       번호 지형기호(2.3km)
0    1495           X
1    1277           X
2    1278           X
3    1279           X
4    1090           X
..    ...         ...
492  1089           X
493  1087           X
494  1088           X
495  1091           X
496  1072           X

[497 rows x 2 columns]

In [22]:
result['지형기호(2.3km)'].unique()

array(['X', '하천', '산지', '기타', '해안'], dtype=object)

In [23]:
table = load_data_from_rds('변수관계설정', db_connection)
table = table.merge(result, on='번호')
table

,번호,경사도,농가까지의 거리(km),최고제한속도(km/h),등산로까지 최단거리(km),식생,주변 로드킬 빈도,지형기호(2.3km)
0,1001,6,0.125686,80.0,1.903039,0,0,X
1,1002,5,0.074627,60.0,0.120319,1,0,X
2,1004,2,0.110617,60.0,0.047211,1,0,산지
3,1005,2,0.009030,80.0,0.233820,1,0,X
4,1006,4,0.098269,80.0,2.172428,0,0,하천
...,...,...,...,...,...,...,...,...
492,1561,2,0.087448,60.0,0.000416,1,4,산지
493,1562,5,0.137822,80.0,2.835246,1,0,산지
494,1564,4,0.054073,80.0,0.886170,1,0,X
495,1567,5,0.102655,60.0,9.125829,1,0,하천
496,1568,4,0.086586,60.0,0.642351,0,0,X

In [24]:
upload_data_to_rds(table, '변수관계설정', db_connection)