In [ ]:
!pip install geopandas
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 8.6 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 47.5 MB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 23.3 MB/s
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.9 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [ ]:
endpoint = 'dao.c51deksujiip.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [17]:
df = pd.read_csv('/content/drive/MyDrive/식생_join.csv', encoding='cp949')
df

,번호,위도_십진,경도_십진,생태통로타,차선_수,등산객이용,생태통로효,이용확인종,이용확인,면적_m^2,...,join_식물군락명,join_위도,join_경도,join_조사시작일,join_조사종료일,join_조사년도,join_시도명,join_layer,join_path,distance
0,1495,35.36019,128.06375,0,1,1,3,NaN,0,NaN,...,소나무군락,128.068519,35.354705,NaN,NaN,2016,경상남도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,30.082630
1,1277,37.03408,128.40661,1,0,0,3,NaN,0,NaN,...,소나무-신갈나무군락,128.397021,37.025322,NaN,NaN,2018,충청북도,전국자연환경조사_4차_식생_2018_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2018_...,0.000000
2,1278,36.89832,128.30563,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,171.879476
3,1279,36.89687,128.30581,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,29.874623
4,1090,36.71336,127.42200,0,2,5,1,개 고양이 다람쥐,3,312.74,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,83.135125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,0,2,0,0,고라니 멧돼지,2,674.31,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,47.229682
493,1087,36.71722,127.41778,0,1,5,0,고라니 멧돼지,2,526.32,...,아까시나무식재림,127.416540,36.717827,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,14.763222
494,1088,36.71222,127.42528,0,1,5,0,고라니 멧돼지,2,674.31,...,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,392.046457
495,1091,36.76750,127.47333,0,0,0,0,멧돼지 고라니,2,140.00,...,상수리나무군락,127.474248,36.764959,NaN,NaN,2017,충청북도,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,71.537445
496,1072,36.65293,127.51278,0,2,5,0,고라니 멧돼지,2,2460.30,...,잣나무식재림,127.512965,36.653320,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,0.000000

In [19]:
df.loc[df[df['distance']>2300].index, 'join_식물군락명'] = '판단불가'

2.3km거리 이상 떨어진 식생의 특성은 사용하지 않고, 대신 판단불가로 대체함

In [20]:
df['join_식물군락명'].nunique()

80

In [10]:
df.groupby('join_식물군락명')['번호'].count()

join_식물군락명
2차초지           4
개발지            6
곰솔-상수리나무군락     2
곰솔-소나무군락       2
곰솔-소나무식재림      1
              ..
졸참나무-신갈나무군락    3
졸참나무군락         1
칡군락            1
판단불가           4
편백식재림          1
Name: 번호, Length: 80, dtype: int64

In [22]:
df = df[['번호', 'join_식물군락명']]
display(df)
print(df.isnull().sum())

       번호       join_식물군락명
0    1495            소나무군락
1    1277       소나무-신갈나무군락
2    1278            소나무군락
3    1279            소나무군락
4    1090  아까시나무-리기다소나무식재림
..    ...              ...
492  1089  아까시나무-리기다소나무식재림
493  1087         아까시나무식재림
494  1088  아까시나무-리기다소나무식재림
495  1091          상수리나무군락
496  1072           잣나무식재림

[497 rows x 2 columns]

번호            0
join_식물군락명    0
dtype: int64

In [23]:
HK = load_data_from_rds('MainData_희경')
HK

,번호,주변 동물종 개수,주변동물 출현빈도,지형기호(5km),하천거리(km),식물군락명,등산로까지 최단거리(km)
0,1495,2,2,X,134.468063,소나무군락,3.157026
1,1277,3,5,X,434.781679,소나무-신갈나무군락,1.087578
2,1278,0,0,X,74.780224,소나무군락,3.070682
3,1279,0,0,X,125.168772,소나무군락,2.921190
4,1090,0,0,X,2275.200182,아까시나무-리기다소나무식재림,0.025083
...,...,...,...,...,...,...,...
492,1089,0,0,X,2274.279975,아까시나무-리기다소나무식재림,0.025617
493,1087,0,0,X,1722.566263,아까시나무식재림,0.021407
494,1088,0,0,X,2532.215687,아까시나무-리기다소나무식재림,0.008204
495,1091,0,0,X,2096.234333,상수리나무군락,0.878327
496,1072,0,0,X,901.351714,잣나무식재림,0.001197

In [ ]:
result = HK.merge(df, on='번호')
result

In [ ]:
result.rename(columns={'join_식물군락명': '식물군락명'}, inplace=True)

In [ ]:
result.to_sql('MainData_희경', con=db_connection, if_exists='replace', index=False)

# 라벨링

In [24]:
df = load_data_from_rds('MainData')

In [25]:
df['식물군락명'].unique()

array(['소나무군락', '소나무-신갈나무군락', '아까시나무-리기다소나무식재림', '신갈나무군락', '리기다소나무식재림',
       '곰솔-소나무군락', '잣나무식재림', '개발지', '신갈나무-소나무군락', '밤나무식재림',
       '일본잎갈나무-소나무식재림', '판단 불가', '상수리나무-신갈나무군락', '수역', '곰솔-아까시나무군락',
       '굴참나무-잣나무군락', '소나무-밤나무군락', '상수리나무군락', '소나무-상수리나무군락', '상수리나무-소나무군락',
       '소나무-굴참나무군락', '굴참나무-소나무군락', '밤나무-소나무식재림', '신갈나무-상수리나무군락',
       '일본잎갈나무식재림', '상수리나무-리기다소나무군락', '벌채지', '상수리나무-아까시나무군락',
       '잣나무-일본잎갈나무식재림', '2차초지', '아까시나무-상수리나무식재림', '리기다소나무-밤나무식재림', '곰솔군락',
       '아까시나무식재림', '아까시나무-소나무식재림', '곰솔-소나무식재림', '상수리나무-곰솔군락',
       '상수리나무-밤나무군락', '나지', '소나무-곰솔군락', '상수리나무-갈참나무군락', '소나무-일본잎갈나무군락',
       '신갈나무-아까시나무군락', '졸참나무-굴참나무군락', '졸참나무-신갈나무군락', '신갈나무-리기다소나무군락',
       '굴참나무군락', '굴참나무-상수리나무군락', '리기다소나무-소나무식재림', '조경식재지',
       '일본잎갈나무-상수리나무식재림', '소나무-리기다소나무군락', '리기다소나무-신갈나무식재림', '농경지',
       '리기다소나무-상수리나무식재림', '소나무-편백군락', '일본잎갈나무-잣나무식재림', '곰솔-상수리나무군락',
       '아까시나무-신갈나무식재림', '아까시나무-밤나무식재림', '소나무-리기다소나무식재림', '굴참나무-곰솔군락',
       '졸참나무군락', '잣나무-상수리나무식재림', '신갈나무-굴참나무군락', '소나무-졸참나무군락',
       '신갈나무-졸참나무군락', '때죽나무군락', '굴참나무-리기다소나무군락', '리기다소나무-잣나무식재림',
       '굴참나무-굴피나무군락', '편백식재림', '삼나무-곰솔식재림', '칡군락', '졸참나무-개서어나무군락',
       '졸참나무-서어나무군락', '졸참나무-곰솔군락', '리기다소나무-굴참나무식재림', '리기다소나무-아까시나무식재림'],
      dtype=object)

In [26]:
df['식물군락명'] = [0 if ((not '나무' in x) | (not '군락' in x)) else x for x in df['식물군락명']]
df['식물군락명'] = [1 if x!=0 else x for x in df['식물군락명']]
df['식물군락명'].unique()

array([1, 0])

In [27]:
df.to_sql('MainData_식생', if_exists='fail', index=False, con=db_connection)