In [1]:
import pandas as pd
from DB import *

db_connection = connect_db()

In [2]:
df = pd.read_csv('.././data/variables/식생_join.csv', encoding='cp949')
df

,번호,join_objectid,join_군락기호,join_식물군락명,join_위도,join_경도,join_조사시작일,join_조사종료일,join_조사년도,join_시도명,join_layer,join_path,distance
0,1495,180844,Pd,소나무군락,128.068519,35.354705,NaN,NaN,2016,경상남도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,30.082630
1,1277,110352,PdQm,소나무-신갈나무군락,128.397021,37.025322,NaN,NaN,2018,충청북도,전국자연환경조사_4차_식생_2018_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2018_...,0.000000
2,1278,266241,Pd,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,171.879476
3,1279,266241,Pd,소나무군락,128.304349,36.896691,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,29.874623
4,1090,218527,RopPr,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,83.135125
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,218527,RopPr,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,47.229682
493,1087,218493,Rop,아까시나무식재림,127.416540,36.717827,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,14.763222
494,1088,218527,RopPr,아까시나무-리기다소나무식재림,127.418655,36.715007,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,392.046457
495,1091,217873,Qa,상수리나무군락,127.474248,36.764959,NaN,NaN,2017,충청북도,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,71.537445
496,1072,217385,Pik,잣나무식재림,127.512965,36.653320,NaN,NaN,2016,충청북도,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,0.000000

In [3]:
df.loc[df[df['distance']>2300].index, 'join_식물군락명'] = '판단불가'

2.3km거리 이상 떨어진 식생의 특성은 사용하지 않고, 대신 판단불가로 대체함

In [4]:
df['join_식물군락명'].nunique()

80

In [5]:
df.groupby('join_식물군락명')['번호'].count()

join_식물군락명
2차초지           4
개발지            6
곰솔-상수리나무군락     2
곰솔-소나무군락       2
곰솔-소나무식재림      1
              ..
졸참나무-신갈나무군락    3
졸참나무군락         1
칡군락            1
판단불가           4
편백식재림          1
Name: 번호, Length: 80, dtype: int64

In [6]:
df = df[['번호', 'join_식물군락명']]
display(df)
print(df.isnull().sum())

       번호       join_식물군락명
0    1495            소나무군락
1    1277       소나무-신갈나무군락
2    1278            소나무군락
3    1279            소나무군락
4    1090  아까시나무-리기다소나무식재림
..    ...              ...
492  1089  아까시나무-리기다소나무식재림
493  1087         아까시나무식재림
494  1088  아까시나무-리기다소나무식재림
495  1091          상수리나무군락
496  1072           잣나무식재림

[497 rows x 2 columns]

번호            0
join_식물군락명    0
dtype: int64

# 라벨링

In [7]:
df['join_식물군락명'] = [0 if ((not '나무' in x) | (not '군락' in x)) else x for x in df['join_식물군락명']]
df['join_식물군락명'] = [1 if x!=0 else x for x in df['join_식물군락명']]
df['join_식물군락명'].unique()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21288\387076227.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['join_식물군락명'] = [0 if ((not '나무' in x) | (not '군락' in x)) else x for x in df['join_식물군락명']]
C:\Users\Administrator\AppData\Local\Temp\ipykernel_21288\387076227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['join_식물군락명'] = [1 if x!=0 else x for x in df['join_식물군락명']]

array([1, 0], dtype=int64)

In [8]:
df.rename(columns={'join_식물군락명':'식생'}, inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_21288\1572407251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'join_식물군락명':'식생'}, inplace=True)

In [9]:
table = load_data_from_rds('변수관계설정', db_connection)
table

       번호  경사도  농가까지의 거리(km)  최고제한속도(km/h)  등산로까지 최단거리(km)
0    1001    6      0.125686          80.0        1.903039
1    1002    5      0.074627          60.0        0.120319
2    1004    2      0.110617          60.0        0.047211
3    1005    2      0.009030          80.0        0.233820
4    1006    4      0.098269          80.0        2.172428
..    ...  ...           ...           ...             ...
492  1561    2      0.087448          60.0        0.000416
493  1562    5      0.137822          80.0        2.835246
494  1564    4      0.054073          80.0        0.886170
495  1567    5      0.102655          60.0        9.125829
496  1568    4      0.086586          60.0        0.642351

[497 rows x 5 columns]

In [10]:
table= table.merge(df, on='번호')
table

       번호  경사도  농가까지의 거리(km)  최고제한속도(km/h)  등산로까지 최단거리(km)  식생
0    1001    6      0.125686          80.0        1.903039   0
1    1002    5      0.074627          60.0        0.120319   1
2    1004    2      0.110617          60.0        0.047211   1
3    1005    2      0.009030          80.0        0.233820   1
4    1006    4      0.098269          80.0        2.172428   0
..    ...  ...           ...           ...             ...  ..
492  1561    2      0.087448          60.0        0.000416   1
493  1562    5      0.137822          80.0        2.835246   1
494  1564    4      0.054073          80.0        0.886170   1
495  1567    5      0.102655          60.0        9.125829   1
496  1568    4      0.086586          60.0        0.642351   0

[497 rows x 6 columns]

In [11]:
upload_data_to_rds(table, '변수관계설정', db_connection)