In [1]:
from DB import *
import pandas as pd
import numpy as np
from glob import glob

In [2]:
db_connection = connect_db()

In [4]:
df = pd.read_csv('.././data/variables/하천_join.csv', encoding='cp949')
df

,번호,join_CODE1,join_INDEXPAGE,join_LEVEL,join_NAME1,join_RIVLEN,join_UID,join_CODE2,join_INDEXPAGE1,join_LEVEL1,...,join_UID1,join_INDEXPAGE2,join_LEVEL2,join_RIVLEN2,join_RIV_CD_1,join_RIV_NAM_1,join_UID2,join_layer,join_path,distance
0,1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",223,225",지방2,45.8,2024690.0,양천,2468.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,134.468063
1,1277,1010010.0,",67,81,83,99",지방1,한강,125.8,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W_FRST_5181,D:/datacampus_dao/data/국가 및 지방하천/W_FRST_5181.shp,434.781679
2,1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",99,117",지방2,21.5,1020640.0,단양천,904.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,74.780224
3,1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",99,117",지방2,21.5,1020640.0,단양천,904.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,125.168772
4,1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2275.200182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2274.279975
493,1087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,1722.566263
494,1088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2532.215687
495,1091,3011810.0,",95,113",지방1,미호천,11.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W_FRST_5181,D:/datacampus_dao/data/국가 및 지방하천/W_FRST_5181.shp,2096.234333
496,1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,4.5,3022060.0,명암천,1164.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,901.351714

In [6]:
main_df = load_data_from_rds('변수관계설정', db_connection)
main_df

,번호,등산로까지 최단거리(km),식생,경사도,지형기호(2.3km),주변 동물종 개수,주변동물 출현빈도,주변 로드킬 빈도,산책로까지의 최단 거리(km),최고제한속도(km/h),농가까지의 거리(km),교통량,환경영향평가점수,건물까지거리(km),유도울타리_연장_m,유도울타리_높이_m
0,1001,1.903039,0,6,X,NaN,NaN,0,237.040073,80.0,0.125686,173030.400000,1,0.192281,0,0.0
1,1002,0.120319,1,5,X,4.0,4.0,0,122.055124,60.0,0.074627,55985.500000,1,0.575364,0,0.0
2,1004,0.047211,1,2,산지,1.0,1.0,0,125.516218,60.0,0.110617,46452.800000,2,0.077290,0,0.0
3,1005,0.233820,1,2,X,4.0,4.0,0,128.701343,80.0,0.009030,36727.714286,4,0.155399,0,0.0
4,1006,2.172428,0,4,하천,3.0,3.0,0,103.572133,80.0,0.098269,107833.500000,1,0.104287,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1561,0.000416,1,2,산지,3.0,5.0,4,219.634740,60.0,0.087448,107659.473684,1,0.271655,0,0.0
493,1562,2.835246,1,5,산지,6.0,27.0,0,38.432601,80.0,0.137822,13853.200000,2,0.252010,60,2.0
494,1564,0.886170,1,4,X,1.0,1.0,0,248.086515,80.0,0.054073,6478.333333,2,0.113175,0,0.0
495,1567,9.125829,1,5,하천,4.0,5.0,0,283.374921,60.0,0.102655,10937.272727,2,0.248477,0,0.0
496,1568,0.642351,0,4,X,1.0,2.0,0,261.373257,60.0,0.086586,31300.823529,5,0.050553,0,0.0

In [7]:
df = df[['번호', 'distance']]
df.rename(columns={'distance':'하천거리(km)'}, inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_23480\438115408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'distance':'하천거리(km)'}, inplace=True)

In [8]:
df

       번호     하천거리(km)
0    1495   134.468063
1    1277   434.781679
2    1278    74.780224
3    1279   125.168772
4    1090  2275.200182
..    ...          ...
492  1089  2274.279975
493  1087  1722.566263
494  1088  2532.215687
495  1091  2096.234333
496  1072   901.351714

[497 rows x 2 columns]

In [9]:
result = main_df.merge(df, on='번호')
result

,번호,등산로까지 최단거리(km),식생,경사도,지형기호(2.3km),주변 동물종 개수,주변동물 출현빈도,주변 로드킬 빈도,산책로까지의 최단 거리(km),최고제한속도(km/h),농가까지의 거리(km),교통량,환경영향평가점수,건물까지거리(km),유도울타리_연장_m,유도울타리_높이_m,하천거리(km)
0,1001,1.903039,0,6,X,NaN,NaN,0,237.040073,80.0,0.125686,173030.400000,1,0.192281,0,0.0,1594.082919
1,1002,0.120319,1,5,X,4.0,4.0,0,122.055124,60.0,0.074627,55985.500000,1,0.575364,0,0.0,1434.181414
2,1004,0.047211,1,2,산지,1.0,1.0,0,125.516218,60.0,0.110617,46452.800000,2,0.077290,0,0.0,1248.795538
3,1005,0.233820,1,2,X,4.0,4.0,0,128.701343,80.0,0.009030,36727.714286,4,0.155399,0,0.0,937.738738
4,1006,2.172428,0,4,하천,3.0,3.0,0,103.572133,80.0,0.098269,107833.500000,1,0.104287,0,0.0,215.408967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1561,0.000416,1,2,산지,3.0,5.0,4,219.634740,60.0,0.087448,107659.473684,1,0.271655,0,0.0,987.166229
493,1562,2.835246,1,5,산지,6.0,27.0,0,38.432601,80.0,0.137822,13853.200000,2,0.252010,60,2.0,1164.042354
494,1564,0.886170,1,4,X,1.0,1.0,0,248.086515,80.0,0.054073,6478.333333,2,0.113175,0,0.0,931.149822
495,1567,9.125829,1,5,하천,4.0,5.0,0,283.374921,60.0,0.102655,10937.272727,2,0.248477,0,0.0,1002.913219
496,1568,0.642351,0,4,X,1.0,2.0,0,261.373257,60.0,0.086586,31300.823529,5,0.050553,0,0.0,1648.370950

In [10]:
upload_data_to_rds(result, '변수관계설정', db_connection)
upload_data_to_rds(result, '변수관계설정', db_connection)