In [1]:
from DB import *
import pandas as pd
import numpy as np
from glob import glob

In [2]:
db_connection = connect_db()

In [3]:
df = pd.read_csv('.././data/variables/하천_join.csv', encoding='cp949')
df

,번호,join_CODE1,join_INDEXPAGE,join_LEVEL,join_NAME1,join_RIVLEN,join_UID,join_CODE2,join_INDEXPAGE1,join_LEVEL1,...,join_UID1,join_INDEXPAGE2,join_LEVEL2,join_RIVLEN2,join_RIV_CD_1,join_RIV_NAM_1,join_UID2,join_layer,join_path,distance
0,1495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",223,225",지방2,45.8,2024690.0,양천,2468.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,134.468063
1,1277,1010010.0,",67,81,83,99",지방1,한강,125.8,51.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W_FRST_5181,D:/datacampus_dao/data/국가 및 지방하천/W_FRST_5181.shp,434.781679
2,1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",99,117",지방2,21.5,1020640.0,단양천,904.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,74.780224
3,1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",99,117",지방2,21.5,1020640.0,단양천,904.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,125.168772
4,1090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2275.200182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2274.279975
493,1087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,1722.566263
494,1088,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,21.3,3022180.0,용두천,1064.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,2532.215687
495,1091,3011810.0,",95,113",지방1,미호천,11.0,15.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W_FRST_5181,D:/datacampus_dao/data/국가 및 지방하천/W_FRST_5181.shp,2096.234333
496,1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,",113",지방2,4.5,3022060.0,명암천,1164.0,W_SCND_5181,D:/datacampus_dao/data/국가 및 지방하천/W_SCND_5181.shp,901.351714

In [4]:
main_df = load_data_from_rds('변수관계설정', db_connection)
main_df

,번호,경사도,농가까지의 거리(km),최고제한속도(km/h),등산로까지 최단거리(km),식생,주변 로드킬 빈도,지형기호(2.3km),주변 동물종 개수,주변동물 출현빈도
0,1001,6,0.125686,80.0,1.903039,0,0,X,NaN,NaN
1,1002,5,0.074627,60.0,0.120319,1,0,X,4.0,4.0
2,1004,2,0.110617,60.0,0.047211,1,0,산지,1.0,1.0
3,1005,2,0.009030,80.0,0.233820,1,0,X,4.0,4.0
4,1006,4,0.098269,80.0,2.172428,0,0,하천,3.0,3.0
...,...,...,...,...,...,...,...,...,...,...
492,1561,2,0.087448,60.0,0.000416,1,4,산지,3.0,5.0
493,1562,5,0.137822,80.0,2.835246,1,0,산지,6.0,27.0
494,1564,4,0.054073,80.0,0.886170,1,0,X,1.0,1.0
495,1567,5,0.102655,60.0,9.125829,1,0,하천,4.0,5.0
496,1568,4,0.086586,60.0,0.642351,0,0,X,1.0,2.0

In [5]:
df = df[['번호', 'distance']]
df.rename(columns={'distance':'하천거리(km)'}, inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_23460\438115408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'distance':'하천거리(km)'}, inplace=True)

In [6]:
df

       번호     하천거리(km)
0    1495   134.468063
1    1277   434.781679
2    1278    74.780224
3    1279   125.168772
4    1090  2275.200182
..    ...          ...
492  1089  2274.279975
493  1087  1722.566263
494  1088  2532.215687
495  1091  2096.234333
496  1072   901.351714

[497 rows x 2 columns]

In [7]:
result = main_df.merge(df, on='번호')
result

,번호,경사도,농가까지의 거리(km),최고제한속도(km/h),등산로까지 최단거리(km),식생,주변 로드킬 빈도,지형기호(2.3km),주변 동물종 개수,주변동물 출현빈도,하천거리(km)
0,1001,6,0.125686,80.0,1.903039,0,0,X,NaN,NaN,1594.082919
1,1002,5,0.074627,60.0,0.120319,1,0,X,4.0,4.0,1434.181414
2,1004,2,0.110617,60.0,0.047211,1,0,산지,1.0,1.0,1248.795538
3,1005,2,0.009030,80.0,0.233820,1,0,X,4.0,4.0,937.738738
4,1006,4,0.098269,80.0,2.172428,0,0,하천,3.0,3.0,215.408967
...,...,...,...,...,...,...,...,...,...,...,...
492,1561,2,0.087448,60.0,0.000416,1,4,산지,3.0,5.0,987.166229
493,1562,5,0.137822,80.0,2.835246,1,0,산지,6.0,27.0,1164.042354
494,1564,4,0.054073,80.0,0.886170,1,0,X,1.0,1.0,931.149822
495,1567,5,0.102655,60.0,9.125829,1,0,하천,4.0,5.0,1002.913219
496,1568,4,0.086586,60.0,0.642351,0,0,X,1.0,2.0,1648.370950

In [8]:
upload_data_to_rds(result, '변수관계설정', db_connection)