In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

endpoint = 'dao.cdqd2bwz9q4s.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [2]:
raw_df = pd.read_csv('.././data/등산로_전국/생태통로_등산로_거리.csv', encoding='cp949')
raw_df

,번호,생태통로명,주소,도로명,도로번호,차선_수,위도_도,위도_분,위도_초,경도_도,...,join_PMNTN_UPPL,join_PMNTN_GODN,join_PMNTN_MTRQ,join_PMNTN_CNRL,join_PMNTN_CLS,join_PMNTN_RISK,join_PMNTN_RECO,join_DATA_STDR,join_MNTN_ID,distance
0,1001,중동터널,서울특별시 구로구 궁동,계남큰길,NaN,왕복6차로,37,30.0,23.37000,126,...,5,3,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.115100e+09,1903.038526
1,1002,개좌생태터널,부산광역시 금정구 회동동 산4-1,개좌로,0,왕복2차선,35,15.0,6.05000,129,...,13,9,NaN,NaN,NaN,NaN,NaN,2016-12-31,1.203990e+09,120.319451
2,1004,곰내 생태통로,부산광역시 기장군 철마면 웅천리,군도,19호선,왕복2차선,35,18.0,20.80000,129,...,44,31,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.671003e+08,47.211041
3,1005,정관예림리 생태통로,부산광역시 기장군 정관면 예림리,국지도,60호,왕복4차선,35,19.0,46.80000,129,...,9,7,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.671019e+08,233.819851
4,1006,을숙도 생태통로,부산광역시 사하구 하단동,낙동남로,1240,왕복7차선,35,6.0,31.84632,128,...,20,14,NaN,NaN,NaN,NaN,NaN,2016-12-31,1.211250e+09,2172.427680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1564,삼척노곡,강원도 삼척시 원덕읍 노곡리 산146-3,국도,7호선,왕복4차선,37,12.0,33.19000,129,...,6,4,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.223014e+08,886.170257
532,1565,절토육교,경기도 의왕시 월암동 산46-3,서수원~의왕간 도로,지방도 309호선,왕복6차선,37,19.0,2.04000,126,...,14,10,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.143003e+08,39.351535
533,1566,동물이동통로,경기도 의왕시 고천동 산55-5,서수원~의왕간 도로,지방도309호선,왕복6차선,37,20.0,11.80000,126,...,51,36,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.143001e+08,2.280473
534,1567,NaN,경기도 영중면 거사리 산3-22번지 일원,중로,3-30,왕복2차선,37,59.0,30.60000,127,...,43,30,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.165029e+08,9125.829045
535,1568,한북정맥(비득재) 생태축,경기도 소흘읍 직동리 산9-5번지 일원(죽엽산 비득재),지방도,383,왕복2차선,37,47.0,10.60000,127,...,149,104,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.128001e+08,642.351131

In [13]:
df = raw_df[['번호', 'distance']]
df

       번호     distance
0    1001  1903.038526
1    1002   120.319451
2    1004    47.211041
3    1005   233.819851
4    1006  2172.427680
..    ...          ...
531  1564   886.170257
532  1565    39.351535
533  1566     2.280473
534  1567  9125.829045
535  1568   642.351131

[536 rows x 2 columns]

In [14]:
df['distance'] = df['distance'] / 1000
df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_24596\128785412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance'] = df['distance'] / 1000
C:\Users\Administrator\AppData\Local\Temp\ipykernel_24596\128785412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)

       번호  등산로까지 최단거리(km)
0    1001        1.903039
1    1002        0.120319
2    1004        0.047211
3    1005        0.233820
4    1006        2.172428
..    ...             ...
531  1564        0.886170
532  1565        0.039352
533  1566        0.002280
534  1567        9.125829
535  1568        0.642351

[536 rows x 2 columns]

In [15]:
HK = load_data_from_rds('re_MainData_inner_HK')
HK

       번호  주변 동물종 개수  주변동물 출현빈도  하천까지의 최단 거리(km)            식물군락명 지형기호(5km)
0    1001          2          2         1.594083   아까시나무-상수리나무식재림      GS26
1    1002          4         14         1.434181            소나무군락      GS28
2    1004          4         16         1.248795            소나무군락      GM01
3    1005          4          8         0.937739        굴참나무-곰솔군락      GM02
4    1006          3         10         0.215409             곰솔군락      GS22
..    ...        ...        ...              ...              ...       ...
531  1564          6         17         0.931150           굴참나무군락         X
532  1565          1          2         1.508948          상수리나무군락      GS26
533  1566          3          7         0.602177         아까시나무식재림      GS26
534  1567          6          9         1.002913      신갈나무-굴참나무군락      GS08
535  1568          5         19         1.648371  일본잎갈나무-상수리나무식재림         X

[536 rows x 6 columns]

In [16]:
HK = HK.merge(df, on='번호')
HK

,번호,주변 동물종 개수,주변동물 출현빈도,하천까지의 최단 거리(km),식물군락명,지형기호(5km),등산로까지 최단거리(km)
0,1001,2,2,1.594083,아까시나무-상수리나무식재림,GS26,1.903039
1,1002,4,14,1.434181,소나무군락,GS28,0.120319
2,1004,4,16,1.248795,소나무군락,GM01,0.047211
3,1005,4,8,0.937739,굴참나무-곰솔군락,GM02,0.233820
4,1006,3,10,0.215409,곰솔군락,GS22,2.172428
...,...,...,...,...,...,...,...
531,1564,6,17,0.931150,굴참나무군락,X,0.886170
532,1565,1,2,1.508948,상수리나무군락,GS26,0.039352
533,1566,3,7,0.602177,아까시나무식재림,GS26,0.002280
534,1567,6,9,1.002913,신갈나무-굴참나무군락,GS08,9.125829
535,1568,5,19,1.648371,일본잎갈나무-상수리나무식재림,X,0.642351

In [17]:
HK.to_sql('re_MainData_inner_HK', index=False, con=db_connection, if_exists='replace')

536