In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

endpoint = 'dao.cdqd2bwz9q4s.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [2]:
raw_df = pd.read_csv('.././data/CSV/등산로_join.csv', encoding='cp949')
raw_df

,번호,위도_십진,경도_십진,생태통로타,차선_수,등산객이용,생태통로효,이용확인종,이용확인,면적_m^2,...,join_PMNTN_UPPL,join_PMNTN_GODN,join_PMNTN_MTRQ,join_PMNTN_CNRL,join_PMNTN_CLS,join_PMNTN_RISK,join_PMNTN_RECO,join_DATA_STDR,join_MNTN_ID,distance
0,1495,35.36019,128.06375,0,1,1,3,NaN,0,NaN,...,23,16,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.812402e+09,3157.025581
1,1277,37.03408,128.40661,1,0,0,3,NaN,0,NaN,...,81,56,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380032e+08,1087.577778
2,1278,36.89832,128.30563,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380028e+08,3070.682447
3,1279,36.89687,128.30581,1,0,0,1,고라니 멧돼지 파충류,3,NaN,...,1,0,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.380028e+08,2921.190492
4,1090,36.71336,127.42200,0,2,5,1,개 고양이 다람쥐,3,312.74,...,5,4,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,25.082554
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,1089,36.71278,127.42056,0,2,0,0,고라니 멧돼지,2,674.31,...,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,25.617176
493,1087,36.71722,127.41778,0,1,5,0,고라니 멧돼지,2,526.32,...,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,21.407056
494,1088,36.71222,127.42528,0,1,5,0,고라니 멧돼지,2,674.31,...,2,1,NaN,NaN,NaN,NaN,NaN,2016-12-31,2.310124e+09,8.204429
495,1091,36.76750,127.47333,0,0,0,0,멧돼지 고라니,2,140.00,...,57,40,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.311021e+08,878.327119
496,1072,36.65293,127.51278,0,2,5,0,고라니 멧돼지,2,2460.30,...,15,11,NaN,NaN,NaN,NaN,NaN,2016-12-31,4.311039e+08,1.196585

In [3]:
df = raw_df[['번호', 'distance']]
df

       번호     distance
0    1495  3157.025581
1    1277  1087.577778
2    1278  3070.682447
3    1279  2921.190492
4    1090    25.082554
..    ...          ...
492  1089    25.617176
493  1087    21.407056
494  1088     8.204429
495  1091   878.327119
496  1072     1.196585

[497 rows x 2 columns]

In [4]:
df['distance'] = df['distance'] / 1000
df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)
df

C:\Users\Administrator\AppData\Local\Temp\ipykernel_24944\128785412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['distance'] = df['distance'] / 1000
C:\Users\Administrator\AppData\Local\Temp\ipykernel_24944\128785412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'distance':'등산로까지 최단거리(km)'}, inplace=True)

       번호  등산로까지 최단거리(km)
0    1495        3.157026
1    1277        1.087578
2    1278        3.070682
3    1279        2.921190
4    1090        0.025083
..    ...             ...
492  1089        0.025617
493  1087        0.021407
494  1088        0.008204
495  1091        0.878327
496  1072        0.001197

[497 rows x 2 columns]

In [8]:
HK = load_data_from_rds('MainData_희경')
HK

       번호  주변 동물종 개수  주변동물 출현빈도 지형기호(5km)     하천거리(km)            식물군락명
0    1495          2          2         X   134.468063            소나무군락
1    1277          3          5         X   434.781679       소나무-신갈나무군락
2    1278          0          0         X    74.780224            소나무군락
3    1279          0          0         X   125.168772            소나무군락
4    1090          0          0         X  2275.200182  아까시나무-리기다소나무식재림
..    ...        ...        ...       ...          ...              ...
492  1089          0          0         X  2274.279975  아까시나무-리기다소나무식재림
493  1087          0          0         X  1722.566263         아까시나무식재림
494  1088          0          0         X  2532.215687  아까시나무-리기다소나무식재림
495  1091          0          0         X  2096.234333          상수리나무군락
496  1072          0          0         X   901.351714           잣나무식재림

[497 rows x 6 columns]

In [9]:
HK = HK.merge(df, on='번호')
HK

,번호,주변 동물종 개수,주변동물 출현빈도,지형기호(5km),하천거리(km),식물군락명,등산로까지 최단거리(km)
0,1495,2,2,X,134.468063,소나무군락,3.157026
1,1277,3,5,X,434.781679,소나무-신갈나무군락,1.087578
2,1278,0,0,X,74.780224,소나무군락,3.070682
3,1279,0,0,X,125.168772,소나무군락,2.921190
4,1090,0,0,X,2275.200182,아까시나무-리기다소나무식재림,0.025083
...,...,...,...,...,...,...,...
492,1089,0,0,X,2274.279975,아까시나무-리기다소나무식재림,0.025617
493,1087,0,0,X,1722.566263,아까시나무식재림,0.021407
494,1088,0,0,X,2532.215687,아까시나무-리기다소나무식재림,0.008204
495,1091,0,0,X,2096.234333,상수리나무군락,0.878327
496,1072,0,0,X,901.351714,잣나무식재림,0.001197

In [10]:
HK.to_sql('MainData_희경', index=False, con=db_connection, if_exists='replace')

497