In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
endpoint = 'dao.cdqd2bwz9q4s.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

In [3]:
HK = load_data_from_rds('re_MainData_inner_HK')

In [4]:
df = pd.read_csv('생태통로_목록_식생_병합.csv', encoding='cp949')

In [2]:
#df = gpd.read_file('./202011_자연환경조사_식생_면/tbl_big_ntee_vtn_pyn.shp', encoding='cp949')

In [5]:
df

,번호,생태통로명,주소,도로명,도로번호,차선_수,위도_도,위도_분,위도_초,경도_도,...,join_식물군락명,join_위도,join_경도,join_조사시작일,join_조사종료일,join_조사년도,join_시도명,join_layer,join_path,distance
0,1001,중동터널,서울특별시 구로구 궁동,계남큰길,NaN,왕복6차로,37,30.0,23.37000,126,...,아까시나무-상수리나무식재림,126.836966,37.504219,NaN,NaN,2017,서울특별시,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,0.000000
1,1002,개좌생태터널,부산광역시 금정구 회동동 산4-1,개좌로,0,왕복2차선,35,15.0,6.05000,129,...,소나무군락,129.132271,35.258938,NaN,NaN,2016,부산광역시,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,20.515002
2,1004,곰내 생태통로,부산광역시 기장군 철마면 웅천리,군도,19호선,왕복2차선,35,18.0,20.80000,129,...,소나무군락,129.170778,35.306671,NaN,NaN,2016,부산광역시,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,18.677273
3,1005,정관예림리 생태통로,부산광역시 기장군 정관면 예림리,국지도,60호,왕복4차선,35,19.0,46.80000,129,...,굴참나무-곰솔군락,129.199985,35.332477,NaN,NaN,2016,부산광역시,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,12.253120
4,1006,을숙도 생태통로,부산광역시 사하구 하단동,낙동남로,1240,왕복7차선,35,6.0,31.84632,128,...,곰솔군락,128.963292,35.109221,NaN,NaN,2016,부산광역시,전국자연환경조사_4차_식생_2016_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2016_...,1802.096678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1564,삼척노곡,강원도 삼척시 원덕읍 노곡리 산146-3,국도,7호선,왕복4차선,37,12.0,33.19000,129,...,굴참나무군락,129.336308,37.208672,NaN,NaN,2018,강원도,전국자연환경조사_4차_식생_2018_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2018_...,48.240910
532,1565,절토육교,경기도 의왕시 월암동 산46-3,서수원~의왕간 도로,지방도 309호선,왕복6차선,37,19.0,2.04000,126,...,상수리나무군락,126.970395,37.315534,NaN,NaN,2017,경기도,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,40.324567
533,1566,동물이동통로,경기도 의왕시 고천동 산55-5,서수원~의왕간 도로,지방도309호선,왕복6차선,37,20.0,11.80000,126,...,아까시나무식재림,126.975101,37.336508,NaN,NaN,2017,경기도,전국자연환경조사_4차_식생_2017_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2017_...,30.271100
534,1567,NaN,경기도 영중면 거사리 산3-22번지 일원,중로,3-30,왕복2차선,37,59.0,30.60000,127,...,신갈나무-굴참나무군락,127.228933,37.993006,NaN,NaN,2014,경기도,전국자연환경조사_4차_식생_2014_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2014_...,0.000000
535,1568,한북정맥(비득재) 생태축,경기도 소흘읍 직동리 산9-5번지 일원(죽엽산 비득재),지방도,383,왕복2차선,37,47.0,10.60000,127,...,일본잎갈나무-상수리나무식재림,127.162162,37.787528,NaN,NaN,2014,경기도,전국자연환경조사_4차_식생_2014_전국,D:/다람쥐오래걷기/전국자연환경조사 4차 식생/전국자연환경조사_4차_식생_2014_...,0.000000

In [6]:
df = df[['번호', 'join_식물군락명']]
display(df)
print(df.isnull().sum())

       번호       join_식물군락명
0    1001   아까시나무-상수리나무식재림
1    1002            소나무군락
2    1004            소나무군락
3    1005        굴참나무-곰솔군락
4    1006             곰솔군락
..    ...              ...
531  1564           굴참나무군락
532  1565          상수리나무군락
533  1566         아까시나무식재림
534  1567      신갈나무-굴참나무군락
535  1568  일본잎갈나무-상수리나무식재림

[536 rows x 2 columns]

번호            0
join_식물군락명    0
dtype: int64

In [7]:
result = HK.merge(df, on='번호')
result

       번호  주변 동물종 개수  주변동물 출현빈도  하천까지의 최단 거리(km)       join_식물군락명
0    1001          2          2         1.594083   아까시나무-상수리나무식재림
1    1002          4         14         1.434181            소나무군락
2    1004          4         16         1.248795            소나무군락
3    1005          4          8         0.937739        굴참나무-곰솔군락
4    1006          3         10         0.215409             곰솔군락
..    ...        ...        ...              ...              ...
531  1564          6         17         0.931150           굴참나무군락
532  1565          1          2         1.508948          상수리나무군락
533  1566          3          7         0.602177         아까시나무식재림
534  1567          6          9         1.002913      신갈나무-굴참나무군락
535  1568          5         19         1.648371  일본잎갈나무-상수리나무식재림

[536 rows x 5 columns]

In [10]:
result.to_sql('re_MainData_inner_HK', con=db_connection, if_exists='replace', index=False)

536

In [ ]:
core = resul