In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
endpoint = 'dao.cdqd2bwz9q4s.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

# 지형경관
전국자연환경조사 4차 지형경관 자료 이용
생태통로 위치와 가장 가까운 지형경관 특성 join 후 5km 이상 떨어진 곳의 지형경관과 병합된 것은
지형경관의 영향이 생태통로에 끼치지 않는다고 판단하여 지형경관 특성이 없음으로 처리

In [61]:
df = pd.read_csv('.././data/전국자연환경조사 4차 지형경관_면/생태통로_지형경관_병합.csv', encoding='cp949')
df

,번호,생태통로명,주소,도로명,도로번호,차선_수,위도_도,위도_분,위도_초,경도_도,...,join_지형명,join_지형기호,join_위도,join_경도,join_조사일자,join_조사년도,join_시도명,join_layer,join_path,distance
0,1001,중동터널,서울특별시 구로구 궁동,계남큰길,NaN,왕복6차로,37,30.0,23.37000,126,...,NaN,GS26,126.823475,37.483557,2017-10-07,2017,서울특별시,전국자연환경조사_4차_지형경관_면_2017_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,0.023481
1,1002,개좌생태터널,부산광역시 금정구 회동동 산4-1,개좌로,0,왕복2차선,35,15.0,6.05000,129,...,기반암하상,GS28,129.139970,35.278507,2016-07-21,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,0.026290
2,1004,곰내 생태통로,부산광역시 기장군 철마면 웅천리,군도,19호선,왕복2차선,35,18.0,20.80000,129,...,급애,GM01,129.156314,35.318431,2016-07-19,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,0.019938
3,1005,정관예림리 생태통로,부산광역시 기장군 정관면 예림리,국지도,60호,왕복4차선,35,19.0,46.80000,129,...,암석돔,GM02,129.210855,35.308516,2016-07-21,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,0.021524
4,1006,을숙도 생태통로,부산광역시 사하구 하단동,낙동남로,1240,왕복7차선,35,6.0,31.84632,128,...,하천습지,GS22,128.941622,35.104201,NaN,2015,부산광역시,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,0.003468
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1564,삼척노곡,강원도 삼척시 원덕읍 노곡리 산146-3,국도,7호선,왕복4차선,37,12.0,33.19000,129,...,해식애,GC01,130.937875,37.529250,2016-10-11,2016,경상북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,581343.357849
532,1565,절토육교,경기도 의왕시 월암동 산46-3,서수원~의왕간 도로,지방도 309호선,왕복6차선,37,19.0,2.04000,126,...,시스택,GC04,130.921190,37.543160,2016-10-11,2016,경상북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,467649.722210
533,1566,동물이동통로,경기도 의왕시 고천동 산55-5,서수원~의왕간 도로,지방도309호선,왕복6차선,37,20.0,11.80000,126,...,시스택,GC04,130.921190,37.543160,2016-10-11,2016,경상북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,469853.914221
534,1567,NaN,경기도 영중면 거사리 산3-22번지 일원,중로,3-30,왕복2차선,37,59.0,30.60000,127,...,시스택,GC04,130.921190,37.543160,2016-10-11,2016,경상북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,545400.907396
535,1568,한북정맥(비득재) 생태축,경기도 소흘읍 직동리 산9-5번지 일원(죽엽산 비득재),지방도,383,왕복2차선,37,47.0,10.60000,127,...,시스택,GC04,130.921190,37.543160,2016-10-11,2016,경상북도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,522282.537041

In [62]:
df = df[['번호', 'join_지형명', 'join_지형기호', 'distance']]

5km 이상인 지형경관 특성 처리

In [70]:
indexs = list(df[df['distance'] > 5000].index)
for idx in indexs :
    df.loc[idx, 'join_지형명'] = '특성없음'
    df.loc[idx, 'join_지형기호'] = 'X'
    df.loc[idx, 'distance'] = -1

결측값 확인

In [75]:
df[df['join_지형명'].isnull()]

       번호 join_지형명 join_지형기호  distance
0    1001      NaN      GS26  0.023481
7    1009      NaN      GM02  0.035931
8    1010      NaN      GS22  0.013956
9    1011      NaN      GS26  0.022282
10   1012      NaN      GS26  0.017521
..    ...      ...       ...       ...
385  1405      NaN      GS30  0.018507
386  1406      NaN      GS30  0.042292
387  1407      NaN      GM15  0.055410
393  1413      NaN      GS32  0.015190
394  1414      NaN      GS32  0.015190

[75 rows x 4 columns]

In [74]:
df[df['join_지형기호'].isnull()]

       번호       join_지형명 join_지형기호  distance
14   1016            NaN       NaN  0.006293
102  1109       기타(침식산지)       NaN  0.022182
145  1159            NaN       NaN  0.048016
146  1160            NaN       NaN  0.042711
153  1167        기타(타포니)       NaN  0.016763
170  1184  기타(솔리플럭션 퇴적층)       NaN  0.049067
183  1199         기타(산정)       NaN  0.042427
188  1204       기타(인공지형)       NaN  0.051348
189  1205         기타(산정)       NaN  0.049483
198  1214         기타(산정)       NaN  0.036749
224  1240            NaN       NaN  0.040085
225  1241            NaN       NaN  0.039632
226  1242            NaN       NaN  0.039619
227  1243            NaN       NaN  0.040294
228  1244            NaN       NaN  0.042908
257  1273           인공지형       NaN  0.010901
327  1347            NaN       NaN  0.036949
328  1348            NaN       NaN  0.039772
357  1377        기타(논습지)       NaN  0.013427

지형명이 null인데 지형기호가 있는 것은 기호에 따른 지형명을 찾아 채우고,
지형기호와 지형명이 모두 null인 경우는 특성없음, X 로 처리

=> 제4차 전국자연환경조사 지침을 보면 알 수 있을 것 같은데 안열림.

In [78]:
name_null = df[df['join_지형명'].isnull()]
name_null.groupby('join_지형기호')['번호'].count()

join_지형기호
GC03     1
GC10     2
GM01     4
GM02     3
GM05     3
GM11     1
GM15     3
GM19     1
GM20     3
GM21     1
GS01     2
GS08     4
GS12     2
GS15     1
GS22     7
GS24     1
GS26    16
GS28     1
GS30     3
GS32     3
GV02     2
GV07     1
Name: 번호, dtype: int64