In [1]:
import geopandas as gpd
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [2]:
endpoint = 'dao.cdqd2bwz9q4s.ap-northeast-2.rds.amazonaws.com'
schema = 'dao'
db_connection_str = 'mysql+pymysql://admin:ekfkawnl@{}/{}'.format(endpoint, schema)
try :
    db_connection = create_engine(db_connection_str)
    conn = db_connection.connect()
except :
    print('fail to connect db')

def load_data_from_rds(tabel_name):
  sql = "SELECT * FROM {}".format(tabel_name)
  df = pd.read_sql(sql, db_connection)
  return df

# 지형경관
전국자연환경조사 4차 지형경관 자료 이용
생태통로 위치와 가장 가까운 지형경관 특성 join 후 5km 이상 떨어진 곳의 지형경관과 병합된 것은
지형경관의 영향이 생태통로에 끼치지 않는다고 판단하여 지형경관 특성이 없음으로 처리

In [36]:
raw_df = pd.read_csv('.././data/전국자연환경조사 4차 지형경관_면/생태통로_지형경관_병합_final.csv', encoding='cp949')
raw_df

,번호,생태통로명,주소,도로명,도로번호,차선_수,위도_도,위도_분,위도_초,경도_도,...,join_지형명,join_지형기호,join_위도,join_경도,join_조사일자,join_조사년도,join_시도명,join_layer,join_path,distance
0,1001,중동터널,서울특별시 구로구 궁동,계남큰길,NaN,왕복6차로,37,30.0,23.37000,126,...,NaN,GS26,126.823475,37.483557,2017-10-07,2017,서울특별시,전국자연환경조사_4차_지형경관_면_2017_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2565.175059
1,1002,개좌생태터널,부산광역시 금정구 회동동 산4-1,개좌로,0,왕복2차선,35,15.0,6.05000,129,...,기반암하상,GS28,129.139970,35.278507,2016-07-21,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2917.936856
2,1004,곰내 생태통로,부산광역시 기장군 철마면 웅천리,군도,19호선,왕복2차선,35,18.0,20.80000,129,...,급애,GM01,129.156314,35.318431,2016-07-19,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,1983.069883
3,1005,정관예림리 생태통로,부산광역시 기장군 정관면 예림리,국지도,60호,왕복4차선,35,19.0,46.80000,129,...,암석돔,GM02,129.210855,35.308516,2016-07-21,2016,부산광역시,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2350.251716
4,1006,을숙도 생태통로,부산광역시 사하구 하단동,낙동남로,1240,왕복7차선,35,6.0,31.84632,128,...,하천습지,GS22,128.941622,35.104201,NaN,2015,부산광역시,전국자연환경조사_4차_지형경관_면_2015_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,383.236674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,1564,삼척노곡,강원도 삼척시 원덕읍 노곡리 산146-3,국도,7호선,왕복4차선,37,12.0,33.19000,129,...,NaN,NaN,129.335797,37.163877,NaN,2016,강원도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,4655.980992
532,1565,절토육교,경기도 의왕시 월암동 산46-3,서수원~의왕간 도로,지방도 309호선,왕복6차선,37,19.0,2.04000,126,...,NaN,GS26,126.994901,37.328700,2017-10-13,2017,경기도,전국자연환경조사_4차_지형경관_면_2017_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,2688.784863
533,1566,동물이동통로,경기도 의왕시 고천동 산55-5,서수원~의왕간 도로,지방도309호선,왕복6차선,37,20.0,11.80000,126,...,NaN,GS26,126.994901,37.328700,2017-10-13,2017,경기도,전국자연환경조사_4차_지형경관_면_2017_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,1974.953931
534,1567,NaN,경기도 영중면 거사리 산3-22번지 일원,중로,3-30,왕복2차선,37,59.0,30.60000,127,...,하식애,GS08,127.226541,38.006813,2016-08-12,2016,경기도,전국자연환경조사_4차_지형경관_면_2016_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,1616.644256
535,1568,한북정맥(비득재) 생태축,경기도 소흘읍 직동리 산9-5번지 일원(죽엽산 비득재),지방도,383,왕복2차선,37,47.0,10.60000,127,...,범람원,GS30,127.172546,37.697258,2014-08-20,2014,경기도,전국자연환경조사_4차_지형경관_면_2014_전국,D:/datacampus_dao/data/전국자연환경조사 4차 지형경관_면/전국자연...,8273.777818

In [38]:
df = raw_df[['번호', 'join_지형명', 'join_지형기호', 'distance']]

생태통로와의 거리가 5km 이상인 지형경관 특성 => 특성없음. X 처리

In [40]:
print("5km:",len(df[df['distance'] > 5000].index))
print("1km:",len(df[df['distance'] > 1000].index))

5km: 70
1km: 453

In [41]:
indexs = list(df[df['distance'] > 5000].index)
for idx in indexs :
    df.loc[idx, 'join_지형명'] = '특성없음'
    df.loc[idx, 'join_지형기호'] = 'X'
    df.loc[idx, 'distance'] = -1

결측값 확인

In [42]:
df[df['join_지형명'].isnull()]

       번호 join_지형명 join_지형기호     distance
0    1001      NaN      GS26  2565.175059
7    1009      NaN      GM02  3603.695370
8    1010      NaN      GS22  1504.208528
9    1011      NaN      GS26  2202.628293
10   1012      NaN      GS26  1636.064458
..    ...      ...       ...          ...
506  1538      NaN      GS26  2688.784863
529  1561      NaN      GM01  1607.932814
531  1564      NaN       NaN  4655.980992
532  1565      NaN      GS26  2688.784863
533  1566      NaN      GS26  1974.953931

[100 rows x 4 columns]

In [43]:
df[df['join_지형기호'].isnull()]

       번호       join_지형명 join_지형기호     distance
14   1016            NaN       NaN   626.173085
102  1109       기타(침식산지)       NaN  2031.919017
145  1159            NaN       NaN  4573.914369
146  1160            NaN       NaN  4023.890343
153  1167        기타(타포니)       NaN  1516.027542
170  1184  기타(솔리플럭션 퇴적층)       NaN  4619.389779
183  1199         기타(산정)       NaN  4382.257515
198  1214         기타(산정)       NaN  3934.354309
224  1240            NaN       NaN  3607.786987
225  1241            NaN       NaN  3524.301257
226  1242            NaN       NaN  3478.303212
227  1243            NaN       NaN  3544.010650
228  1244            NaN       NaN  3786.661165
229  1245            NaN       NaN  4025.730565
257  1273           인공지형       NaN   982.773315
327  1347            NaN       NaN  3835.161110
328  1348            NaN       NaN  4127.594527
357  1377        기타(논습지)       NaN  1289.569495
447  1476  기타(솔리플럭션 퇴적층)       NaN  4654.369445
469  1501           침식산지       NaN  3690.730789
531  1564            NaN       NaN  4655.980992

지형명이 null인데 지형기호가 있는 것은 기호에 따른 지형명을 찾아 채움

In [44]:
name_null = df[df['join_지형명'].isnull()]
display(name_null)
symbol = list(name_null['join_지형기호'].unique())
symbol_dict = {}
for s in symbol :
    a = df[(df['join_지형기호'] == s) & (df['join_지형명'].notnull())]
    try :
        symbol_dict[s]=a['join_지형명'].unique()[0]
    except :
        print(s)
print(symbol_dict)

       번호 join_지형명 join_지형기호     distance
0    1001      NaN      GS26  2565.175059
7    1009      NaN      GM02  3603.695370
8    1010      NaN      GS22  1504.208528
9    1011      NaN      GS26  2202.628293
10   1012      NaN      GS26  1636.064458
..    ...      ...       ...          ...
506  1538      NaN      GS26  2688.784863
529  1561      NaN      GM01  1607.932814
531  1564      NaN       NaN  4655.980992
532  1565      NaN      GS26  2688.784863
533  1566      NaN      GS26  1974.953931

[100 rows x 4 columns]

nan
GV07
GM11
GS24
{'GS26': '호소성 습지', 'GM02': '암석돔', 'GS22': '하천습지', 'GC10': '염습지', 'GM01': '급애', 'GM05': '토르', 'GS12': '곡저평야', 'GS01': '폭포', 'GS28': '기반암하상', 'GM19': '암괴원', 'GM20': '애추', 'GV02': '분석구', 'GS32': '인공호수', 'GC03': '파식대', 'GS08': '하식애', 'GM15': '구조(선)곡(단층(선)곡)', 'GS30': '범람원', 'GM21': '산지습지', 'GS25': '하안단구', 'GM25': '토르군', 'GM08': '고립구릉'}

In [47]:
symbol_dict['GV07'] = '화구'
symbol_dict['GS24'] = '샛강습지'
symbol_dict['GM11'] = '풍화동굴'

In [48]:
name_null_index = list(name_null.index)
for idx in name_null_index :
    try:
        name = symbol_dict[df.loc[idx, 'join_지형기호']]
        df.loc[idx, 'join_지형명'] = name
    except: ## 지형기호가 nan
        print('error :', df.loc[idx, 'join_지형기호'])

error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan
error : nan

In [49]:
all_null = df[(df['join_지형명'].isnull()) & (df['join_지형기호'].isnull())]
all_null_index = list(all_null.index)

In [50]:
for idx in all_null_index :
    df.loc[idx, 'join_지형명'] = '특성없음'
    df.loc[idx, 'join_지형기호'] = 'X'

In [51]:
df.isnull().sum()

번호           0
join_지형명     0
join_지형기호    9
distance     0
dtype: int64

지형기호가 없는 것 => 기타.
지형명이 기타()인 것은 모두 기타로 통일

In [52]:
df[df['join_지형기호'].isnull()]

       번호       join_지형명 join_지형기호     distance
102  1109       기타(침식산지)       NaN  2031.919017
153  1167        기타(타포니)       NaN  1516.027542
170  1184  기타(솔리플럭션 퇴적층)       NaN  4619.389779
183  1199         기타(산정)       NaN  4382.257515
198  1214         기타(산정)       NaN  3934.354309
257  1273           인공지형       NaN   982.773315
357  1377        기타(논습지)       NaN  1289.569495
447  1476  기타(솔리플럭션 퇴적층)       NaN  4654.369445
469  1501           침식산지       NaN  3690.730789

In [53]:
print(df['join_지형명'].nunique())
print(df['join_지형기호'].nunique())

69
59

같은 지형기호여도 지형명이 다른 형식으로 적혀있는 경우가 있어 지형기호로 통일

In [54]:
etc_df = df[(df['join_지형기호']=='기타') | df['join_지형기호'].isnull()]

In [55]:
etc_index = list(etc_df.index)
for idx in etc_index :
    df.loc[idx, 'join_지형기호'] = '기타'
    df.loc[idx, 'join_지형명'] = '기타'

In [56]:
df

       번호 join_지형명 join_지형기호     distance
0    1001   호소성 습지      GS26  2565.175059
1    1002    기반암하상      GS28  2917.936856
2    1004       급애      GM01  1983.069883
3    1005      암석돔      GM02  2350.251716
4    1006     하천습지      GS22   383.236674
..    ...      ...       ...          ...
531  1564     특성없음         X  4655.980992
532  1565   호소성 습지      GS26  2688.784863
533  1566   호소성 습지      GS26  1974.953931
534  1567      하식애      GS08  1616.644256
535  1568     특성없음         X    -1.000000

[536 rows x 4 columns]

In [57]:
result = df[['번호', 'join_지형기호']]
result.rename(columns={'join_지형기호':'지형기호(5km)'}, inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_22208\1017034498.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result.rename(columns={'join_지형기호':'지형기호(5km)'}, inplace=True)

In [58]:
result

       번호 지형기호(5km)
0    1001      GS26
1    1002      GS28
2    1004      GM01
3    1005      GM02
4    1006      GS22
..    ...       ...
531  1564         X
532  1565      GS26
533  1566      GS26
534  1567      GS08
535  1568         X

[536 rows x 2 columns]

In [59]:
HK = load_data_from_rds('re_MainData_inner_HK')

In [63]:
HK

       번호  주변 동물종 개수  주변동물 출현빈도  하천까지의 최단 거리(km)            식물군락명
0    1001          2          2         1.594083   아까시나무-상수리나무식재림
1    1002          4         14         1.434181            소나무군락
2    1004          4         16         1.248795            소나무군락
3    1005          4          8         0.937739        굴참나무-곰솔군락
4    1006          3         10         0.215409             곰솔군락
..    ...        ...        ...              ...              ...
531  1564          6         17         0.931150           굴참나무군락
532  1565          1          2         1.508948          상수리나무군락
533  1566          3          7         0.602177         아까시나무식재림
534  1567          6          9         1.002913      신갈나무-굴참나무군락
535  1568          5         19         1.648371  일본잎갈나무-상수리나무식재림

[536 rows x 5 columns]

In [64]:
HK = HK.merge(result, on='번호')
HK

       번호  주변 동물종 개수  주변동물 출현빈도  하천까지의 최단 거리(km)            식물군락명 지형기호(5km)
0    1001          2          2         1.594083   아까시나무-상수리나무식재림      GS26
1    1002          4         14         1.434181            소나무군락      GS28
2    1004          4         16         1.248795            소나무군락      GM01
3    1005          4          8         0.937739        굴참나무-곰솔군락      GM02
4    1006          3         10         0.215409             곰솔군락      GS22
..    ...        ...        ...              ...              ...       ...
531  1564          6         17         0.931150           굴참나무군락         X
532  1565          1          2         1.508948          상수리나무군락      GS26
533  1566          3          7         0.602177         아까시나무식재림      GS26
534  1567          6          9         1.002913      신갈나무-굴참나무군락      GS08
535  1568          5         19         1.648371  일본잎갈나무-상수리나무식재림         X

[536 rows x 6 columns]

In [65]:
HK.to_sql('re_MainData_inner_HK', index=False, con=db_connection, if_exists='replace')

536